<!-- Assignment Info Card -->
<div class="blurred-login" id="assignmentInfoCardDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto">
        <div id="classInfoCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('assignmentInfoCardDisplay')"
                 style="width: fit-content; width: -moz-fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body" style="padding: 2rem">
                <h1 class="card-title text-center">
                    <span class="fa fa-info-circle"></span> Assignment Info
                </h1>
                <div id="assignmentInfoBody" class="card-footer">
                    <div id="infoAverage" class="unlock-with-parent">
                        <div><span id="assignmentInfoGraderoomUsers"></span><span><span></span><span class="popup"><i class="fa fa-info-circle"><span class="popup-right-bottom">This is the number of Graderoom users that have synced a <b>valid</b> score for this assignment</span></i></span></span></div>
                        <div><span>Graderoom User Assignment Average:</span><span id="assignmentInfoAverage"></span></div>
                        <div class="unlock-with premium"><span>Unlock more assignment averages with <span class="premium label-background"><span class="premium-label">PREMIUM</span></span></span></div>
                    </div>
                    <div>
                        <span><span>Date: </span><span id="assignmentInfoDate"></span></span>
                        <span><span>Date: </span><span id="assignmentInfoDateEditable" class="form-group">
                            <input id="assignmentInfoDateEditableInput"
                                   class="form-control dont-clear"
                                   type="text"
                                   onfocus="if (this.value !== '') { this.value = moment(this.value, 'MM/DD/YYYY').format('YYYY-MM-DD'); this.type='date'; } else { this.type='date'; this.valueAsDate = new Date(); } checkLabel(this)"
                                   onblur="this.type='text'; if (this.value !== moment(this.value, 'MM/DD/YYYY').format('MM/DD/YYYY')) {this.value = moment(this.value, 'YYYY-MM-DD').format('MM/DD/YYYY');} checkLabel(this)" required>
                            </span></span>
                        <span><span>Name: </span><span id="assignmentInfoName"></span></span>
                        <span><span>Category: </span><span id="assignmentInfoCategory"></span></span>
                        <span><span>Score: </span><span id="assignmentInfoScore"></span></span>
                    </div>
                    <div><span>Description</span><span id="assignmentInfoDescription"></span></div>
                    <div><span>Comments</span><span id="assignmentInfoComments"></span></div>
                </div>
                <div id="assignmentInfoLoading" class="chart-placeholder"></div>
            </div>
        </div>
    </div>
</div>
