<!-- Assignment Info Card -->
<div class="blurred-login" id="assignmentInfoCardDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto">
        <div id="classInfoCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('assignmentInfoCardDisplay')"
                 style="width: fit-content; width: -moz-fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body" style="padding: 2rem">
                <h1 class="card-title text-center">
                    <span class="fa fa-info-circle"></span> Assignment Info
                </h1>
                <div id="assignmentInfoBody" class="card-footer">
                    <div id="infoAverage" class="unlock-with-parent">
                        <div><span id="assignmentInfoGraderoomUsers"></span><span><span></span><span class="popup"><i class="fa fa-info-circle"><span class="popup-right-bottom">This is the number of Graderoom users that have synced a <b>valid</b> score for this assignment</span></i></span></span></div>
                        <div><span>Graderoom User Assignment Average:</span><span id="assignmentInfoAverage"></span></div>
                        <div class="unlock-with premium"><span>Unlock more assignment averages with <span class="premium label-background"><span class="premium-label">PREMIUM</span></span></span></div>
                        <div id="assignmentInfoLoading" class="chart-placeholder"></div>
                    </div>
                    <div>
                        <span><span>Date: </span><span id="assignmentInfoDate"></span></span>
                        <span><span>Date: </span><span id="assignmentInfoDateEditable" class="form-group">
                            <input id="assignmentInfoDateEditableInput"
                                   class="form-control dont-clear"
                                   type="text"
                                   onfocus="if (this.value !== '') { this.value = moment(this.value, 'MM/DD/YYYY').format('YYYY-MM-DD'); this.type='date'; } else { this.type='date'; this.valueAsDate = new Date(); } checkLabel(this)"
                                   onblur="this.type='text'; if (this.value !== moment(this.value, 'MM/DD/YYYY').format('MM/DD/YYYY')) {this.value = moment(this.value, 'YYYY-MM-DD').format('MM/DD/YYYY');} checkLabel(this)" required>
                            </span></span>
                        <span><span>Name: </span><span id="assignmentInfoName"></span></span>
                        <span><span>Category: </span><span id="assignmentInfoCategory"></span></span>
                        <span><span>Score: </span><span id="assignmentInfoScore"></span></span>
                    </div>
                    <div><span>Description</span><span id="assignmentInfoDescription"></span></div>
                    <div><span>Comments</span><span id="assignmentInfoComments"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function showAssignmentInfo(classIndex, assignmentIndex) {
        let assignmentDate = parsedData[classIndex].assignmentDates[assignmentIndex];
        let assignmentName = parsedData[classIndex].assignmentNames[assignmentIndex];
        let assignmentCategory = parsedData[classIndex].assignmentCategories[assignmentIndex];
        let assignmentScore = parsedData[classIndex].assignmentScoresParsed[assignmentIndex];
        let assignmentDescription = parsedData[classIndex].assignmentDescriptions[assignmentIndex];
        let assignmentComments = parsedData[classIndex].assignmentComments[assignmentIndex];
        let assignmentPSAID = parsedData[classIndex].assignmentPSAIDs[assignmentIndex];
        let isExtraCredit = assignmentScore.endsWith("/0");

        let infoAverage = $("#infoAverage");
        let assignmentInfoDate = $("#assignmentInfoDate");
        let assignmentInfoDateEditable = $("#assignmentInfoDateEditable");
        let assignmentInfoName = $("#assignmentInfoName");
        let assignmentInfoCategory = $("#assignmentInfoCategory");
        let assignmentInfoScore = $("#assignmentInfoScore");
        let assignmentInfoDescription = $("#assignmentInfoDescription");
        let assignmentInfoComments = $("#assignmentInfoComments");

        let assignmentInfoLoading = $("#assignmentInfoLoading")

        $("#assignmentInfoBody div:not(#infoAverage)").css("background-color", withAlpha(colors[classIndex], 10));
        $("#infoAverage .unlock-with").hide();
        $("#assignmentInfoGraderoomUsers").text("--");
        $("#assignmentInfoGraderoomUsers ~ span > span:first-child").text("Graderoom Users this semester");
        $("#assignmentInfoAverage").removeClass("locked").text("--");

        infoAverage.show();
        assignmentInfoDate.text(assignmentDate).parent("span").show();
        assignmentInfoDateEditable.parent("span").hide();
        assignmentInfoName.text(assignmentName);
        assignmentInfoCategory.text(assignmentCategory);
        assignmentInfoScore.text(assignmentScore);
        if (assignmentDescription) {
            assignmentInfoDescription.html(assignmentDescription).parent("div").show();
        } else {
            assignmentInfoDescription.parent("div").hide();
        }
        if (assignmentComments) {
            assignmentInfoComments.text(assignmentComments ?? "").parent("div").show();
        } else {
            assignmentInfoComments.parent("div").hide();
        }

        assignmentInfoLoading.show();

        showCard("#assignmentInfoCardDisplay");

        if (`${assignmentPSAID}` in assignmentAverages[classIndex]) {
            let avgData = assignmentAverages[classIndex][`${assignmentPSAID}`];
            setupAssignmentAverage(avgData, assignmentPSAID, classIndex, isExtraCredit);
        } else if (premium || assignmentIndex === data[classIndex].grades.length - 1) {
            await $.ajax({
                method: "POST",
                url: "/assignmentAverage",
                data: {
                    "assignmentPSAID": assignmentPSAID,
                    "className": _data[classIndex].class_name,
                    "term": term,
                    "semester": semester
                }
            }).done(function (response) {
                assignmentAverages[classIndex][`${assignmentPSAID}`] = response;
                setupAssignmentAverage(response, assignmentPSAID, classIndex, isExtraCredit);
            });
        } else {
            setupAssignmentAverage(null, assignmentPSAID, classIndex, isExtraCredit);
        }

        assignmentInfoLoading.hide();
    }

    function setupAssignmentAverage(avgData, assignmentPSAID, classIndex, isExtraCredit) {
        if (avgData === null) {
            $("#assignmentInfoGraderoomUsers").addClass("locked").text("");
            $("#assignmentInfoGraderoomUsers ~ span > span:first-child").text("Graderoom Users this semester");
            $("#assignmentInfoAverage").addClass("locked").text("");
            $("#infoAverage .unlock-with").show();
        } else {
            $("#assignmentInfoGraderoomUsers").removeClass("locked").text(avgData.numUsers).parent("div").show();
            $("#assignmentInfoGraderoomUsers ~ span > span:first-child").text("Graderoom User" + (avgData.numUsers !== 1 ? "s" : "") + " this semester");

            if ('average' in avgData) {
                $("#assignmentInfoAverage").removeClass("locked").text(`${Math.round(avgData.average * 100) / 100}${isExtraCredit ? "" : `% (${getLetterGrade(avgData.average)})`}`);
            } else {
                $("#assignmentInfoAverage").addClass("locked").html(`<span class="text-muted">Not Enough Data</span>`);
            }
            $("#infoAverage .unlock-with").hide();
        }
    }

    function showEditAssignment(classIndex, assignmentIndex) {
        let assignmentDate = parsedData[classIndex].assignmentDates[assignmentIndex];
        let assignmentName = parsedData[classIndex].assignmentNames[assignmentIndex];
        let assignmentCategory = parsedData[classIndex].assignmentCategories[assignmentIndex];
        let assignmentScore = parsedData[classIndex].assignmentScoresParsed[assignmentIndex];
        let assignmentDescription = parsedData[classIndex].assignmentDescriptions[assignmentIndex];
        let assignmentComments = parsedData[classIndex].assignmentComments[assignmentIndex];
        let assignmentInfoDateEditable = $("#assignmentInfoDateEditable");
        let assignmentInfoLoading = $("#assignmentInfoLoading");
        assignmentInfoLoading.show();
        $("#infoAverage").hide();
        $("#assignmentInfoDate").parent("span").hide();
        assignmentInfoDateEditable.parent("span").show();
        assignmentInfoDateEditable.children("input").val(assignmentDate).off("blur").on("blur", () => {
            let assignment = _addedAssignments[classIndex].data[aData[classIndex][assignmentIndex]];
            let temp = assignment.date;
            assignment.date = $("#assignmentInfoDateEditable").children("input").val();

            if (temp !== assignment.date) {
                refreshWithoutReload(classIndex);
            }
        });
        $("#assignmentInfoName").text(assignmentName);
        $("#assignmentInfoCategory").text(assignmentCategory);
        $("#assignmentInfoScore").text(assignmentScore);
        if (assignmentDescription) {
            $("#assignmentInfoDescription").text(assignmentDescription).parent("div").show();
        } else {
            $("#assignmentInfoDescription").parent("div").hide();
        }
        if (assignmentComments) {
            $("#assignmentInfoComments").text(assignmentComments ?? "").parent("div").show();
        } else {
            $("#assignmentInfoComments").parent("div").hide();
        }

        $("#assignmentInfoBody > div:not(#infoAverage)").css("background-color", withAlpha(colors[classIndex], 10));

        showCard("#assignmentInfoCardDisplay");

        assignmentInfoLoading.hide();
    }
</script>
