<!-- Changelog Card -->
<div class="blurred-login" id="changelogDisplay"
     style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
    <div class="blurred-background"></div>
    <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div id="changelogCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('changelogDisplay')"
                 style="width: fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body">
                <h1 class="card-title text-center"><span class="fa fa-book"></span>
                    Changelog
                </h1>
                <div class="card changelog">
                    <div style="display: none" id="version-up" class="scroll-to up"
                         onclick="scrollToNextVersion();"><span
                                class="fa fa-arrow-up"><label
                                    style="font-family: 'JetBrains Mono',monospace; font-size: 0.75rem; cursor: pointer; margin-left: 0.5rem"></label></span>
                    </div>
                    <div id="changelog-container" class="changelog-container"></div>
                    <div style="display: none" id="version-down" class="scroll-to down"
                         onclick="scrollToPreviousVersion();"><span
                                class="fa fa-arrow-down"><label
                                    style="font-family: 'JetBrains Mono',monospace; font-size: 0.75rem; cursor: pointer; margin-left: 0.5rem"></label></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let changelogContainer = $("#changelog-container");
    let versionOffsets = {};
    let versionNames = [];
    let stableVersionNames = [];
    let versionDisplayed;
    let nextVersion;
    let previousVersion;

    function showChangelog() {
        closeForm("changelogDisplay");
        $.ajax({
                   url: "/changelog", type: "GET", async: true
               }).done(function (response) {
            $("#changelogDisplay").fadeIn(500);
            disableScrolling();
            cardsDisplayed.push("changelogDisplay");
            $(".blurred-background").each(function () {
                if (cardsDisplayed.includes($($(this).parent())[0].id)) {
                    $(this).parent().css("z-index", cardsDisplayed.indexOf($($(this).parent())[0].id) + 2);
                }
            });
            changelogContainer.html(response);
            let versions = $("#changelogDisplay .changelog-item").not(".announcement");
            changelogContainer.animate({scrollTop: 0}, 0, () => {
                versionNames = [];
                versionOffsets = {};
                for (let version of versions) {
                    let title = $(version).find(".header")[0].innerText;
                    versionNames.push(title.substring(0, title.indexOf("\n")));
                    versionOffsets[versionNames.slice(-1)[0]] = $(version).offset().top - changelogContainer.offset().top;
                }
                stableVersionNames = versionNames.filter(n => n.substring(0, 6) === "Stable" || n === "Known Issues");
                manageScrollers();
            });
            let fixedIn = versions.find(".content").children(".body").children("strong");
            for (let i = 0; i < fixedIn.length; i++) {
                let link = $(fixedIn[i]);
                link.click(() => {
                    scrollToVersion(link[0].innerText.substring(10, link[0].innerText.length - 1));
                });
            }
        });
    }

    function scrollToNextVersion() {
        scrollToVersion(nextVersion);
    }

    function scrollToPreviousVersion() {
        scrollToVersion(previousVersion);
    }

    let scrolling = false;

    function scrollToVersion(version) {
        if (scrolling) {
            changelogContainer.stop();
        }
        scrolling = true;
        changelogContainer.animate({scrollTop: versionOffsets[version]}, 1000, () => {
            scrolling = false;
        });
    }

    changelogContainer.scroll(function () {
        manageScrollers();
    });

    function manageScrollers() {
        let versions = $("#changelogDisplay .changelog-item").not(".announcement");
        let onScreenVersion;
        let onScreenOffset;
        for (let i = 0; i < versions.length; i++) {
            if (onScreenOffset === undefined || Math.abs($(versions[i]).offset().top - changelogContainer.offset().top) < onScreenOffset) {
                onScreenOffset = Math.abs($(versions[i]).offset().top - changelogContainer.offset().top);
                onScreenVersion = i;
            }
        }
        versionDisplayed = versionNames[onScreenVersion] || "Known Issues";
        let index;
        for (index = versionNames.indexOf(versionDisplayed) - 1; index > -1; index--) {
            if (stableVersionNames.includes(versionNames[index])) {
                nextVersion = versionNames[index];
                break;
            }
        }
        for (index = versionNames.indexOf(versionDisplayed) + 1; index < versionNames.length; index++) {
            if (stableVersionNames.includes(versionNames[index])) {
                previousVersion = versionNames[index];
                break;
            }
        }
        if (versionNames.indexOf(versionDisplayed) <= 0) {
            $(".down").fadeIn(100).find("label").text(previousVersion);
            $(".up").fadeOut(100);
        } else if (versionNames.indexOf(versionDisplayed) === versionNames.length - 1) {
            $(".up").fadeIn(100).find("label").text(nextVersion);
            $(".down").fadeOut(100);
        } else {
            $(".down").fadeIn(100).find("label").text(previousVersion);
            $(".up").fadeIn(100).find("label").text(nextVersion);
        }
    }
</script>
