<!-- Class Info Card -->
<div class="blurred-login" id="classInfoCardDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div id="classInfoCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('classInfoCardDisplay')"
                 style="width: fit-content; width: -moz-fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body" style="padding: 2rem">
                <h1 class="card-title text-center">
                    <span class="fa fa-info-circle"></span> Class Info
                </h1>
                <div id="classInfoBody" class="card-footer">
                    <div id="classInfoTopHalf">
                        <div id="classInfoTopLeft">
                            <div id="classInfoName"></div>
                            <div>
                                <div id="classInfoTeacher"></div>
                            </div>
                            <div id="classInfoClassType"></div>
                            <div id="classInfoUCClassType"></div>
                        </div>
                        <div id="classInfoGraderoomUsers"></div>
                        <div id="classInfoAverage"></div>
                    </div>
                    <div class="card-footer">
                        <div id="classInfoDescriptionHeader">Course Description</div>
                        <div id="classInfoDescription"></div>
                    </div>
                    <ul id="classInfoOtherTeachers"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
