<!-- Feedback Card -->
<div class="blurred-login" id="feedbackDisplay"
     style="aposition:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
    <div class="blurred-background"></div>
    <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div id="feedbackCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('feedbackDisplay');"
                 style="width: fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body">
                <div class="card-footer">
                    <iframe style="color: #FFFFFF; height: 50vh; width: 100%;"
                            src="https://docs.google.com/forms/d/e/1FAIpQLSfBiwyEi3TKH2Kr356ZOtLTUwUml9I9h_bWlOcraVXDyBIzbA/viewform?embedded=true"
                            frameborder="0" marginheight="0" marginwidth="0">Loading…
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
