<!-- Keyboard Shortcuts Card -->
<div class="blurred-login" id="shortcutsDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div id="latestCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('shortcutsDisplay')"
                 style="width: fit-content; width: -moz-fit-content; margin-bottom:0;">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body">
                <h1 class="card-title text-center"><span class="fa fa-keyboard-o"></span>
                    Keyboard Shortcuts
                </h1>
                <div style="display: flex; flex-flow: column; align-content: space-around">
                    <div class="card-body" style="overflow: scroll;">
                        <div style="display: flex; justify-content: center; align-items: center" class="card-footer">
                            <label class="key-display">`</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show overview
                                page</label>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center" class="card-footer">
                            <% for (let c_index = 0; c_index < JSON.parse(gradeData).length; c_index++) { %>
                                <% if (c_index !== 0) { %>&nbsp;<% } %>
                                <label class="key-display"><%= c_index + 1 %></label>
                            <% } %>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Open corresponding
                                class page</label>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center" class="card-footer">
                            <label class="key-display">←</label>
                            <label style="margin-bottom: 0">&nbsp;and&nbsp;</label>
                            <label class="key-display">→</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Move through
                                classes<br>Move through tabs in settings</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">W</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show/Hide what's
                                new</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">S</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Open/Close
                                settings</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">H</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Open Help Tab of
                                settings</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">Q</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show/Hide
                                changelog</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">K</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show/Hide this
                                page</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">A</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Add an assignment to
                                the displayed class</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">I</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show the class info of the displayed class</label>
                        </div>
                        <div style="display: flex" class="card-footer">
                            <label class="key-display">G</label>
                            <label style="margin-bottom: 0; margin-left: auto; text-align: right">Show/Hide sync
                                log</label>
                        </div>
                        <% if (JSON.parse(betaFeatures).active) { %>
                            <div style="display: flex" class="card-footer">
                                <label class="key-display">B</label>
                                <label style="margin-bottom: 0; margin-left: auto; text-align: right">Open the Beta Tab
                                    of Settings</label>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
