<!-- Nav Bar -->
<nav class="navbar navbar-dark navbar-expand-lg justify-content-center">
    <span class="d-flex w-50 mr-auto">
        <a href="/" class="navbar-brand" >            
            <h1> <img src="/public/resources/dark_mode/logo.png" style="width: 3rem" class="d-inline-block logo" alt=""> Graderoom </h1>
        </a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNav" aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNav">
        <% if (user.username.length > 0) { %>
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <h5><%=user.username%></h5>
                </li>
            </ul>
        <% } %>
        <ul class="navbar-nav w-100 justify-content-end align-items-end ml-auto">
            <% if (user.isAdmin) { %>
                <li id="toggleAdmin" class="nav-item toggle-admin">
                    <a class="btn btn-med" href="/admin">
                        <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                        Admin
                    </a>
                </li>
            <% } %>
            <li id="updateGrades" class="nav-item">
                <btn class="btn btn-med" onclick="showDiv('updateGradesDisplay')">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Update Grades
                </btn>
            </li>
            <li id="settings" class="nav-item">
                <btn class="btn btn-med" onclick="showDiv('settingsCardDisplay')">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Settings
                </btn>
            </li>
            <li class="nav-item active">
                <a href="/logout" class="btn btn-med">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Cards -->
<% include settings_card.ejs %>
<% include update_grades_card.ejs %>

<!-- JavaScript Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script>
    function showDiv(id) {
        document.getElementById(id).style.display = "block";
        localStorage.setItem(id, "true");
    }
    function closeForm(id) {
        let form = document.getElementById(id);
        form.style.display = "none";
        let inputFields = form.getElementsByClassName('form-control');
        for (let i = 0; i < inputFields.length; i++) {
            inputFields[i].value = "";
        }
        localStorage.setItem(id, "false");
    }
    window.onload = function () {
        if (localStorage.getItem("settingsCardDisplay") === "true") {
            showDiv("settingsCardDisplay");
        } else {
            closeForm("settingsCardDisplay");
        }
        if (localStorage.getItem("updateGradesDisplay") === "true") {
            showDiv("updateGradesDisplay");
        } else {
            closeForm("updateGradesDisplay");
        }
    };

    // Collapse navbar or card when click outside
    $(document).click(function (e) {
        //Auto hide for any card with blurred-login 
        if ($(e.target).closest('.blurred-login').length){ 
            if (!$(e.target).closest('.card').length){
                closeForm($(e.target).closest('.blurred-login')[0].id);
            }       
        }
        if (!$(e.target).closest('#collapsingNav').length && !$(e.target).is('#collapsingNav')){
            $('.navbar-collapse').collapse('hide');
        }
    });
    // Collapse navbar or card when press escape
    $(document).keyup(function (e) {
        if (e.key === "Escape") { // escape key maps to keycode `27`
            try {
                $('.navbar-collapse').collapse('hide');
                closeForm('toggle');
            } catch(e) {}
            closeForm('updateGradesDisplay');
            closeForm('settingsCardDisplay');
        }
    });
</script>