<% include ../limited_time/snowfall.ejs %>

<!-- Nav Bar -->
<nav class="navbar <% if (theme) { %>navbar-dark<% } else { %>navbar-light<% } %> navbar-expand-lg justify-content-center">
    <span class="navbar-brand-holder">
        <div class="popup">
            <a onclick="try {if (currentPage === -1) {window.location.href = '/'} else {showPage(-1)}} catch (e) {window.location = '/'}"
               class="navbar-brand" style="margin: 0;">
                <h1>
                    <img
                    <% if (theme === true) { %>
                        src="/public/resources/dark_mode/logo.png"
                    <% } else if (theme === false) { %>
                        src="/public/resources/light_mode/logo.png"
                            <% } %>
                        style="width: 3rem">
                    <div class="brand-label">
                        Graderoom
                    </div>
                </h1>
            </a>
            <% if (page != "home") { %>
                <div class="popup-holder">
                    <span id="homePopup"
                          style="width: 20rem"
                          class="nav-popups popup-bottom-right tutorial-popup">
                        Clicking here at any time will take you home
                        <span class="gotIt"></span>
                    </span>
                </div>
            <% } %>
        </div>
        <div class="nav-username">
            <div class="text-center">
                <h5 style="padding-top: 0; white-space: nowrap;<% if (page != "home") { %> cursor: default; <% } %> "
                    onclick="<% if (page === "home") { %>showCard('#settingsCardDisplay'); openTab(2) <% } %>"><%= username; %></h5>
                <label id="nameDisplay"
                       style="white-space: nowrap;<% if (page === "home") { %> cursor: pointer; <% } %> margin: 0; display: block"><%= JSON.parse(personalInfo).firstName; %> <%= JSON.parse(personalInfo).lastName; %>
                    '<%= JSON.parse(personalInfo).graduationYear - 2000; %></label>
                <% if (page === "home") { %>
                    <label style="white-space: nowrap; cursor: pointer; border-radius: 0.5rem; padding: 0.1rem 0.5rem; font-family: Arial, Helvetica, sans-serif"
                           onclick="<% if (JSON.parse(alerts).lastUpdated.length) { %>showCard('#gradeChangesCardDisplay');<% } %>"
                           class="updateGradesMessage alert-info popup">
                        <div style="cursor: pointer" class="messageTxt">Loading Sync Status...</div>
                        <div class="popup-holder">
                            <span id="navinfoPopup"
                                  class="nav-popups popup-bottom-left tutorial-popup"
                                  style="width: 25rem; margin-top: 1rem;"
                            >
                                The sync status with PowerSchool will be displayed here. Clicking here will open the
                                sync log.
                                <span class="gotIt"></span>
                            </span>
                        </div>
                    </label>
                <% } %>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNav"
                aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </span>
    <div class="navbar-collapse collapse w-50" id="collapsingNav">
        <ul class="navbar-nav w-100 justify-content-end align-items-end ml-auto">
            <% if (page === "home") { %>
                <li class="nav-item dropdown popup">
                    <a class="nav-link dropdown-toggle popup" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="popup-holder">
                        <span id="morePopup"
                              class="nav-popups popup-bottom-left tutorial-popup"
                              style="min-width: 8rem">
                            Click here to access other parts of the site
                            <span class="gotIt"></span>
                        </span>
                    </div>
                    <ul class="dropdown-menu blur" aria-labelledby="navbarDropdown">
                        <% if (isAdmin) { %>
                            <li id="toggleAdmin" class="nav-item toggle-admin dropdown-item">
                                <a class="btn btn-med" href="/admin"> <i class="fa fa-fighter-jet"
                                                                         aria-hidden="true"></i> Admin
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                        <% } %>
                        <% if (page === "home") { %>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med"
                                     onclick="showCard('#settingsCardDisplay'); openTab(3);">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> Help
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showCard('#shortcutsDisplay')"><i
                                            class="fa fa-keyboard-o" aria-hidden="true"></i> Keyboard Shortcuts
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showCard('#feedbackDisplay')"><i
                                            class="fa fa-send" aria-hidden="true"></i> Send Feedback
                                </btn>
                            </li>
                            <div class="dropdown-divider"></div>
                            <% if (JSON.parse(alerts).lastUpdated.length) { %>
                                <li id="recentChangesNavBtn" class="nav-item dropdown-item">
                                    <btn class="btn btn-med" onclick="setupGradeChanges(true, true)"><i
                                                class="fa fa-clock-o" aria-hidden="true"></i> Sync Log
                                    </btn>
                                </li>
                            <% } %>
                            <li class="nav-item dropdown-item">
                                <a class="btn btn-med" href="/finalgradecalculator"><i
                                            class="fa fa-calculator" aria-hidden="true"></i> Calculator
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showLatest(true)"><i
                                            class="fa fa-lightbulb-o" aria-hidden="true"></i> What's New
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showChangelog()"><i
                                            class="fa fa-book" aria-hidden="true"></i> Changelog
                                </btn>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showCard('#settingsCardDisplay'); openTab(0)"><i
                                            class="fa fa-dollar" aria-hidden="true"></i> Donate
                                </btn>
                            </li>
                        <% } %>
                    </ul>
                </li>
                <li id="syncGrades" class="nav-item popup">
                    <btn class="btn btn-med"
                         onclick="showCard('#updateGradesDisplay'); $('#inputPassword').trigger('focus')">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Sync
                    </btn>
                    <div class="popup-holder">
                        <span id="syncPopup"
                              class="nav-popups popup-bottom tutorial-popup">
                            Sync your grades with PowerSchool
                        </span>
                    </div>
                </li>
            <% } %>
            <% if (page === "home") { %>
                <li id="settings" class="nav-item popup">
                    <btn class="btn btn-med" onclick="showCard('#settingsCardDisplay')">
                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                    </btn>
                    <div class="popup-holder">
                        <span id="settingsPopup"
                              class="nav-popups popup-bottom-right tutorial-popup"
                              style="min-width: 8rem;">
                            Click here to manage your preferences
                            <span class="gotIt"></span>
                        </span>
                    </div>
                </li>
            <% } else { %>
                <li id="home" class="nav-item">
                    <a class="btn btn-med" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i> Home
                    </a>
                </li>
            <% } %>
            <li class="nav-item active">
                <a onclick="window.sessionStorage.setItem('currentPage','')" href="/logout" class="btn btn-med"> <i
                            class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Cards -->
<% if (page === "home") { %>
    <% include sync_grades_card.ejs %>
<% } %>
<% if (page === "home") { %>
    <% const lightsMonth = 11; /* 11 is December */ %>
    <% const winterStart = 10; %>
    <% const winterEnd = 2; %>
    <% include settings_card.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include changelog.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include privacy_policy.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include terms_and_conditions.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include feedback_card.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include whats_new.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include keyboard_shortcuts.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include activate_beta_card.ejs %>
<% } %>
<% if (page === "home" || page === "calc") { %>
    <% include logged_out.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include recent_changes.ejs %>
<% } %>
<% if (page === "home") { %>
    <% include gpa_details.ejs %>
<% } %>

<!-- Custom JavaScript -->
<script>

    let submittingForms = {};

    function sendData(socket, event, data) {
        socket.emit(event, data);
    }

    function changeSetting(name, value) {
        sendData(mainSocket, 'settings-change', {[name]: value});
    }

    function ajaxPostForm(formID, fieldIDsToClear, messagesDivID, _async, doInstantly = false) {
        // Get the form.
        let form = $(formID);
        $(form).on("submit", function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            if (submittingForms[formID]) {
                clearTimeout(submittingForms[formID]);
                delete submittingForms[formID];
            }
            submittingForms[formID] = setTimeout(() => {

                let formData;
                let message;
                let formMessagesDiv;

                // Serialize the form data.
                formData = $(form).serialize();

                // Get the messages.
                formMessagesDiv = $(messagesDivID);
                $(formMessagesDiv).find(".sk-chase-mini").css("display", "inline-block");
                if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                    clearTimeout(checkLastUpdated);
                    $(".fa-refresh").addClass("fa-spin").css("opacity", 0.5);
                    $(".updateGradesMessage").removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
                    message = $(".updateGradesMessage.alert .messageTxt");
                    $(message).text("");
                } else {
                    message = $(formMessagesDiv).find(".messageTxt");
                    $(message).text("");
                    $(formMessagesDiv).removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
                    $(formMessagesDiv).show();
                }

                if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                    $("#updateGradesDisplay input").trigger('blur');
                    shortcutsEnabled = false;
                    $("#loadingDisplay").show();
                    $(".syncFailure").hide();
                    $(".syncNoData").hide();
                    $(form).find("button").prop("disabled", true).find("div").addClass("loading");
                }

                // Submit the form using AJAX.
                $.ajax({
                           type: "POST", url: $(form).attr("action"), data: formData, async: _async
                       }).done(function (response) {
                    if (typeof response === "string" && response.startsWith("<!")) {  // If logged out
                        $(".session-timeout").show();
                        $("body").find("*").not(".session-timeout").remove();
                        return;
                    }
                    console.log(response);
                    if (response.gradeSyncEnabled) {
                        $(".syncGradesDiv").hide();
                        $(".gradeSyncDiv").show();
                        $(".gradeSyncEnabled").show();
                        gradeSync = true;
                        setupTutorialPopups();
                    }
                    if (response.message && (response.message === "No class data." || response.message === "Powerschool is locked.")) {
                        $(".syncNoData").show();
                        $(".updateGradesMessage").removeClass("alert-info").removeClass("alert-success").addClass("alert-danger");
                        $(formMessagesDiv).find(".sk-chase-mini").hide();
                        setupLastUpdated();
                    } else if (response.message && response.message === "Error scraping grades.") {
                        $(".syncFailure").show();
                        $(".updateGradesMessage").removeClass("alert-info").removeClass("alert-success").addClass("alert-danger");
                        $(formMessagesDiv).find(".sk-chase-mini").hide();
                        setupLastUpdated();
                    } else if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                        $(formMessagesDiv).find(".sk-chase-mini").hide();
                        let newData = {
                            grades: JSON.parse(response.grades), weights: JSON.parse(response.weights)
                        };
                        clearTimeout(checkLastUpdated);
                        if (!updateData(newData).updated) {
                            $(formMessagesDiv).find(".messageTxt").text("Refresh to see the latest updates.");
                            $(".updateGradesMessage").removeClass("alert-info").removeClass("alert-danger").addClass("alert-success");
                            setTimeout(() => window.reload(), 400);
                        } else {
                            alerts.lastUpdated.push(JSON.parse(response.updateData));
                            setupGradeChanges();
                            refreshWithoutReload(true);
                            setupLastUpdated();
                            setTimeout(() => closeForm("updateGradesDisplay"), 250);
                        }
                    } else {
                        setTimeout(function () {
                            $(message).text(response);
                            $(formMessagesDiv).find(".sk-chase-mini").hide();
                            $(formMessagesDiv).removeClass("alert-info").removeClass("alert-danger").addClass("alert-success");
                        }, 500);
                    }

                    if (formID === "#changeSchoolEmail") {
                        schoolUsername = $("#school_email")[0].value;
                        updateNameDisplay(undefined, schoolUsername);
                        $($("#school_email")[0].form).find("button").prop("disabled", true);
                    }

                    // Show the div.
                    $(formMessagesDiv).show();

                    // Clear fields to clear
                    for (let i = 0; i < fieldIDsToClear.length; i++) {
                        $(fieldIDsToClear[i]).val("");
                        $(fieldIDsToClear[i]).trigger('blur');
                        if (formID === "#changePassword") {
                            $($(fieldIDsToClear[i])[0].previousElementSibling).removeClass("label-active");
                            if ($($(fieldIDsToClear[i])[0].previousElementSibling.children[0])) {
                                $($(fieldIDsToClear[i])[0].previousElementSibling.children[0]).text("");
                            }
                        }
                    }

                }).fail(function (data) {
                    // Make sure that the formMessages div has the alert-danger class
                    $($(formMessagesDiv)[1]).removeClass("alert-info");
                    $($(formMessagesDiv)[1]).addClass("alert-danger");

                    // Set the message text.
                    if (data.responseText !== "") {
                        if (data.responseText === "Incorrect login details.") {
                            $(message).text("Incorrect school password.");
                            $("#inputPassword").trigger('focus');
                        } else {
                            if (formID === "#syncGradesForm") {
                                $("#inputUserPassword").trigger('focus');
                                $(".fa-refresh").removeClass("fa-spin").css("opacity", "");
                            } else if (formID === "#gradeSyncForm") {
                                $("#gradeSyncInputUserPassword").trigger('focus');
                                $(".fa-refresh").removeClass("fa-spin").css("opacity", "");
                            }
                            $(message).text(data.responseText);
                        }
                    } else {
                        console.log(formMessagesDiv);
                        $(message).text("Oops! An error occurred and your message could not be sent.");
                    }

                    // Show the div.
                    $(formMessagesDiv).css("display", "block");

                    // Hide loading
                    $(formMessagesDiv).find(".sk-chase-mini").hide();

                    if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                        clearTimeout(checkLastUpdated);
                    }

                }).always(function () {
                    if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                        $(form).find("button").prop("disabled", false).find("div").removeClass("loading");
                        $("#loadingDisplay").hide();
                        shortcutsEnabled = true;
                    }
                });
            }, (doInstantly ? 0 : 400));
        });
    }

    function showCard(id) {
        if (cardsDisplayed.includes(id.substring(1))) {
            cardsDisplayed.splice(cardsDisplayed.indexOf(id.substring(1)), 1);
        }
        cardsDisplayed.push(id.substring(1));
        $(".blurred-background").each(function () {
            if (cardsDisplayed.includes($($(this).parent())[0].id)) {
                $(this).parent().css("z-index", cardsDisplayed.indexOf($($(this).parent())[0].id) + minCardZIndex);
            }
        });
        $(id).fadeIn(100);
        if (id === "#settingsCardDisplay") {
            $($("#school_email").val(schoolUsername)[0].form).find("button").prop("disabled", true);
            checkLabel($("#school_email"));
            openTab(currentSettingsTab);
            updateTutorialProgress();
            $("#blur-range-picker").val(appearance.blurAmount || 4);
        }
        if (id === "#feedbackDisplay") {
            setupFeedbackForm();
        }
    }

    function closeForm(id) {
        if (cardsDisplayed.length && cardsDisplayed.includes(id)) {
            cardsDisplayed = cardsDisplayed.filter(c => c !== id);
        }
        for (let i = 0; i < cardsDisplayed.length; i++) {
            $("#" + cardsDisplayed[i]).finish();
        }
        let form = $("#" + id);
        form.fadeOut(100);
        let inputFields = $("#" + id + " .form-control").not(".dont-clear").not(":disabled");
        for (let i = 0; i < inputFields.length; i++) {
            inputFields[i].value = "";
            $(inputFields[i]).trigger("input");
        }
        if (id === "settingsCardDisplay") {
            closeMessage("passwordChangeMessage");
            closeMessage("emailChangeMessage");
            closeMessage("themeMessage");
        }
        if (id === "feedbackDisplay") {
            let oldFrame = $("#feedbackForm").parent();
            $("#feedbackForm").remove();
            oldFrame.append(`<iframe id="feedbackForm" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>`);
            setupFeedbackForm();
        }

        // Manage theme selection, if it exists
        try {
            let themeRadioButtons = document.getElementsByName("theme");
            if (theme === "auto") {
                themeRadioButtons[3].checked = true;
                $("#auto-limits-container").show();
                $("#sun-limits-container").hide();
            } else if (theme === "sun") {
                themeRadioButtons[2].checked = true;
                $("#auto-limits-container").hide();
                $("#sun-limits-container").show();
            } else if (theme === "dark") {
                themeRadioButtons[1].checked = true;
                $("#auto-limits-container, #sun-limits-container").hide();
            } else if (theme === "light") {
                themeRadioButtons[0].checked = true;
                $("#auto-limits-container, #sun-limits-container").hide();
            }
        } catch (e) {
        }

        // Manage gradeSync checkbox, if it exists
        try {
            let gradeSyncCheckBox = document.getElementById("gradeSyncToggle");
            if (gradeSync && !gradeSyncCheckBox.checked) {
                gradeSyncCheckBox.checked = true;
            } else if (!gradeSync && gradeSyncCheckBox.checked) {
                gradeSyncCheckBox.checked = false;
            }
        } catch (e) {
        }
    }

    // Collapse navbar or card when click outside
    $(document).mousedown(function (e) {
        //Auto hide for any card with blurred-login
        if ($(e.target).closest(".blurred-login").length) {
            if (!$(e.target).closest(".card").length) {
                closeForm($(e.target).closest(".blurred-login")[0].id);
            }
        }
        if (!$(e.target).closest("#collapsingNav").length && !$(e.target).is("#collapsingNav")) {
            $(".navbar-collapse").collapse("hide");
        }
    });
    // Collapse navbar or card when press escape
    $(document).keydown(function (e) {
        if ($("#loadingDisplay").css("display") === "none") {
            if (e.key === "Escape") { // escape key maps to keycode `27`
                try {
                    $(".navbar-collapse").collapse("hide");
                    closeForm("toggle");
                } catch (e) {
                }
                if (cardsDisplayed.length === 0) {
                    return;
                }
                closeForm(cardsDisplayed[cardsDisplayed.length - 1]);
            }
        }
    });

    Snowy(true);
</script>
