<!-- Settings Card -->
<div class="blurred-login" id="notificationSettingsCardDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto">
        <div id="notificationSettingsCard" class="card card-signin my-5" style="padding-bottom: 1rem">
            <btn class="btn btn-md"
                 onclick="closeForm('notificationSettingsCardDisplay')"
                 style="display: table; width: fit-content; width: -moz-fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body">
                <h1 class="card-title text-center popup" style="margin: 0;"><i class="fa fa-bell"></i>
                    Notification Settings
                </h1>
            </div>
            <div>
                <div class="card-body">
                    <div class="card-footer">
                        <h5>Popups</h5>
                        <label class="slider-container">
                            <label class="switch">
                                <input id="updatePopupToggle" type="checkbox"
                                       name="updatePopup" onchange="changeNotiSetting('showUpdatePopup', !alerts.notificationSettings.showUpdatePopup)"
                                <% if (_alerts.notificationSettings.showUpdatePopup) { %>
                                       checked
                                        <% } %>
                                >
                                <span class="slider"></span>
                            </label>
                            <label for="updatePopupToggle">
                                Show "What's New" Popup for New Versions
                            </label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom JavaScript -->
<script type="text/javascript">

</script>
