<!-- Update Grades Card -->
<div class="blurred-login" id="updateGradesDisplay">
    <div class="blurred-background"></div>
    <div class="col-sm-8 col-md-7 col-lg-5 mx-auto">
        <div id="updateGradesCard" class="card card-signin my-5">
            <btn class="btn btn-md" onclick="closeForm('updateGradesDisplay')"
                 style="display:table; width: fit-content; width: -moz-fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <btn class="btn btn-med" onclick="showCard('#gradeChangesCardDisplay')"
                 style="position: absolute; width: fit-content; width: -moz-fit-content; right: 0; margin-bottom: 0">
                View Sync Log <i class="fa fa-external-link-square"></i></btn>
            <div class="card-body" style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden; transition: 500ms">
                <div class="updateGradesMessage alert alert-info"
                     style="display:block">
                    <div style="display: flex; justify-content: flex-start; align-items: flex-start; flex-flow: column">
                        <div style="display:none" class="sk-chase-mini">
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                        </div>
                        <div class="font-weight-bold popup gradeSyncEnabled" style="display: none">
                            GradeSync enabled.
                            <i class="fa fa-info-circle">
                                <span class="popup-right-bottom">
                                    When you log in to Graderoom, syncing with <% if (school === "basis") { %>Schoology<% } else { %>PowerSchool<% } %> will occur automatically
                                </span>
                            </i>
                        </div>
                        <div class="font-weight-bold messageTxt">Loading Sync Status...</div>
                    </div>
                </div>
                <h1 class="card-title text-center">School Login</h1>
                <div id="syncGradesDiv" style="display: none">
                    <h5 class="text-center">Enter password for:</h5>
                    <h5 class="text-center"><span id="schoolUsernameDisplay"
                                                  class="school-username"><%= schoolUsername %></span><i
                                style="margin-left: 0.5rem; cursor: pointer;" class="fa fa-pencil"
                                onclick="showCard('#settingsCardDisplay'); openTab(2)"></i></h5>
                    <br>
                    <form id="syncGradesForm" onsubmit="event.preventDefault(); updateGrades($('#inputUserPassword').val(), $('#inputPassword').val(), $('#savePasswordToggle').is(':checked'));" class="form-signin">
                        <div class="form-group input-group">
                            <i class="lock-bg"></i>
                            <label>School Password</label>
                            <input oninput="checkLabel(this)" onblur="checkLabel(this)" name="school_password"
                                   type="password" id="inputPassword"
                                   class="form-control" required>
                        </div>
                        <div id="userPassword" class="form-group input-group" style="display:none">
                            <i class="user-bg"></i>
                            <label>Graderoom Password</label>
                            <input oninput="checkLabel(this)" onblur="checkLabel(this)" name="user_password"
                                   type="password"
                                   id="inputUserPassword" class="form-control" required>
                        </div>
                        <label style="cursor: pointer; float: left; text-align: right"
                               onclick="toggleInputUserPasswordDisplay()">
                            <input style="cursor: inherit"
                                   id="savePasswordToggle"
                                   type="checkbox"
                                   name="savePassword"
                                   checked
                            > Sync Grades on Login
                            <span class="popup">
                                <i class="fa fa-info-circle">
                                    <span class="popup-right-top">
                                        <p>Graderoom will sync automatically whenever you log in.</p>
                                        You will still be able to manually sync at any time.
                                    </span>
                                </i>
                            </span>
                        </label>
                        <div class="text-center">
                            <button class="btn btn-lg btn-default" type="submit">
                                Sign In
                                <div>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="gradeSyncDiv" style="display: none">
                    <form id="gradeSyncForm" onsubmit="event.preventDefault(); updateGrades($('#gradeSyncInputUserPassword').val());" class="form-signin">
                        <h5>Enter your Graderoom password</h5>
                        <br>
                        <div class="input-group form-group">
                            <i class="lock-bg"></i>
                            <label>Graderoom Password</label>
                            <input oninput="checkLabel(this)" onblur="checkLabel(this)" name="user_password"
                                   type="password"
                                   id="gradeSyncInputUserPassword"
                                   class="form-control" required>
                        </div>
                        <button class="btn btn-lg btn-default" type="submit">
                            Log In
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </form>
                </div>
                <% if (_betaFeatures.localScraping) { %>
                <div id="localScrapeDiv" style="display: none">
                    <form class="form-signin">
                        <button class="btn btn-lg btn-default" type="button" onclick="updateGradesFromUser()">
                            Local Sync
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- Loading Display -->
<div class="container" id="loadingDisplay" style="display: none;">
    <div class="blurred-login" style="position:fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 999">
        <div class="blurred-background" style="filter: opacity(0.3) !important;"></div>
    </div>
</div>

<script>
    toggleInputUserPasswordDisplay();

    function toggleInputUserPasswordDisplay() {
        if ($("#savePasswordToggle").is(":checked")) {
            $("#userPassword").show();
            $("#inputUserPassword").attr("required", "required").attr("autocomplete", "on");
        } else {
            $("#userPassword").hide();
            $("#inputUserPassword").removeAttr("required").val("").attr("autocomplete", "off");
        }
    }

    let checkLastUpdated;

    function setupLastUpdated() {
        $(".fa-refresh.fa-spin").removeClass("fa-spin").css("opacity", "");
        $("#syncGrades").css("cursor", "");
        $("#syncGrades btn").removeClass("disabled").css("pointer-events", "");

        $(".updateGradesMessage > span").css('opacity', '');

        const JUST_NOW_LIMIT = 10;

        const SECOND = 1000;
        const MINUTE = 60 * SECOND;
        const HOUR = 60 * MINUTE;
        const DAY = 24 * HOUR;

        let message = $(".updateGradesMessage").find(".messageTxt");
        let lastUpdated = alerts.lastUpdated.slice(-1)[0];
        if (lastUpdated === undefined) {
            message.text("Never synced");
        } else {
            lastUpdated = lastUpdated.timestamp;
            let deltaTime = Date.now() - lastUpdated;
            if (checkLastUpdated) {
                clearTimeout(checkLastUpdated);
            }
            let seconds = Math.floor(deltaTime / SECOND) % 60;
            if (deltaTime < JUST_NOW_LIMIT * SECOND) {
                message.text("Last synced just now." + recentChangeText);
                checkLastUpdated = setTimeout(setupLastUpdated, (1 + seconds / JUST_NOW_LIMIT - deltaTime / (JUST_NOW_LIMIT * SECOND)) * JUST_NOW_LIMIT * SECOND);
                return;
            }
            if (deltaTime < MINUTE) {
                message.text("Last synced " + seconds + "s ago." + recentChangeText);
                checkLastUpdated = setTimeout(setupLastUpdated, (1 + seconds - deltaTime / SECOND) * SECOND);
                return;
            }
            let minutes = Math.floor(deltaTime / MINUTE) % 60;
            if (deltaTime < HOUR) {
                message.text("Last synced " + minutes + "m ago." + recentChangeText);
                checkLastUpdated = setTimeout(setupLastUpdated, (1 + minutes - deltaTime / MINUTE) * MINUTE);
                return;
            }
            let hours = Math.floor(deltaTime / HOUR) % 24;
            let days = Math.floor(deltaTime / DAY);
            if (deltaTime < DAY) {
                message.text("Last synced " + hours + "h " + (minutes > 0 ? minutes + "m ago." : " ago.") + recentChangeText);
                checkLastUpdated = setTimeout(setupLastUpdated, (1 + minutes - (deltaTime / MINUTE) % 60) * MINUTE);
            } else {
                message.text("Last synced " + days + "d " + (hours > 0 ? hours + "h ago." : " ago.") + recentChangeText);
                checkLastUpdated = setTimeout(setupLastUpdated, (1 + hours - (deltaTime / HOUR) % 24) * HOUR);
            }
        }
    }
</script>
