<!-- Update Grades Card -->
<div class="container">
    <div class="blurred-login" id="updateGradesDisplay" style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
        <div class="blurred-background" style="position: fixed; width: 100%; height: 100%; filter: opacity(0.9);"></div>
        <div class="col-sm-8 col-md-7 col-lg-5 mx-auto">
            <div id="updateGradesCard" class="card card-signin my-5">
                <btn class="btn btn-md" onclick="closeForm('updateGradesDisplay')" style="width: fit-content; margin-bottom:0">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Return
                </btn>
                <div class="card-body">
                    <h1 class="card-title text-center">School Login</h1>
                    <h5 class="text-center">Enter password for: </h5>
                    <h5 id="schoolUsernameDisplay" class="school-username text-center"><%=schoolUsername%></h5>
                    <br>
                    <form class="form-signin" action="/update" method="post">
                        <div class="form-group">
                            <input name="school_password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-default" type="submit" onclick="closeForm('updateGradesDisplay')">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>