<!-- Nav Bar -->
<nav class="navbar navbar-dark navbar-expand-lg justify-content-center">
    <span class="d-flex w-25 mr-auto">
        <a href="/" class="navbar-brand">
            <h1>
                <img src="/public/resources/light_mode/logo.png" style="width: 3rem" class="d-inline-block" alt="">
                Graderoom
            </h1>
        </a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNav"
            aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-25" id="collapsingNav">
        <ul class="navbar-nav w-25 justify-content-end align-items-end ml-auto">
            <li class="nav-item active">
                <a href="/" class="btn btn-lg">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Login/Signup
                </a>
            </li>
        </ul>
    </div>
</nav>
