bin/
include/
lib/
pyvenv.cfg
.DS_Store
.vscode/
__pycache__
grades_db.json
user_db.json
node_modules/
.idea/
venv
user_db*.json
/credentials.json
/graderoom.log
/_credentials.json
config/
*.rdb
catalog_old_*.html
.env
