<!doctype html>
<html lang="en-US">
<head>
    <title>Graderoom</title>
    <link rel="icon" href="public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% let theme; %>
    <% if ((((Date.now() / 1000 / 3600 - 8) % 24) >= 18 - (dst ? 1 : 0)) || ((Date.now() / 1000 / 3600 - 8) % 24) < 7 - (dst ? 1 : 0)) { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <% theme = false; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<% include ../partials/viewer/viewer_navbar.ejs %>
<div class="container h-100 d-flex justify-content-center">
    <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7">
        <div class="card card-signin my-5">
            <% if (message.length) { %>
                <btn class="btn btn-md"
                     style="display: table; width: fit-content; width: -moz-fit-content; margin-bottom:0"
                     onclick="window.location.href = '/forgot_password'">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </btn>
            <% } %>
            <div class="card-body">
                <h1 class="text-center card-title">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> Forgot Password
                </h1>

                <% if (message.length === 0) { %>
                    <p id="help_text">Enter your user account's email address and we will send you a password reset
                        link.
                    </p>

                    <form method="post" class="form-signin">

                        <div class="form-group input-group">
                            <i class="email-bg"></i>
                            <label>Email</label>
                            <input oninput="checkLabel(this);" type="text"
                                   class="form-control"
                                   name="email" id="email">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-default btn-lg">Send email
                            </button>
                        </div>

                    </form>
                <% } %>

                <% if (message.length > 0) { %>
                    <div class="alert alert-info">
                        <%- message; %>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
</div>

</body>

<script>

    function checkLabel(input) {
        let label = $($(input)[0].previousElementSibling);
        input = $(input);
        if (input[0].value !== "") {
            if (!label.hasClass("label-active")) {
                label.addClass("label-active");
            }
        } else {
            label.removeClass("label-active");
        }
    }
</script>
</html>

