<html>
<body>
<% if (message.length > 0) { %>
<h1><%=message%></h1>
<% }%>
<form action="/reset_password" method="post">

    <label for="password">New password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="hidden" name="token" value="<%=token%>"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>