<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        body {
            padding: 10px;
            background-color: #222222;
         }
    </style>
</head>
<body>
    <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
    <br>
    <% if (updateGradesMessageSuccess.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageSuccess %></div>
    <% } %>

    <% if (updateGradesMessageFail.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageFail %></div>
    <% } %>
    <div class="container">

        <div class="jumbotron text-center" style="background-color: #222222; color: white;">
            <h1><span class="fa fa-graduation-cap"></span> Graderoom: <%=user.username%></h1>
            <form action="/update" method="post">
                <button type="submit" class="btn btn-info btn-lg">Update Grades</button>
            </form>
        </div>
    
        <div id="chart"></div>
        
        <script>
            let data = <%- gradeData %>
            console.log(data)
            var options = {
                chart: {
                    type: 'line'
                },
                series: [{
                    name: grades[0].class_name,
                    data: [10,20,30,40,50,60,70,80,90,100]
                }],
                xaxis: {
                    categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
                }
            }

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        </script>

    </div>
</body>
</html>
