<!doctype html>
<html lang="en">
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% if (user.appearance.darkMode) { %>
        <link rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<% include partials/user/navbar.ejs %>
<div class="container h-100 d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-9 col-xl-8">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="text-center card-title">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    Final Grade Calculator
                </h1>
                <div id="calculatorMessage" class="alert alert-info alert-dismissible">
                    <div style="font-weight: bold" class="messageTxt">
                        Enter Current Grade or Select a Class
                    </div>
                    <a class="close" onclick="closeMessage('calculatorMessage')" aria-label="close">X</a>
                </div>
                <form id="calculateFinalGrade" class="form-signin">
                    <div class="card-footer">
                        <h5>Current Info</h5>
                        <div style="display: flex; align-items: center; align-self: center">
                            <label class="form-group" style="display: flex; align-items: flex-end">
                                <span style="text-align: right">Your current grade is</span>
                                <input class="number-input form-control" style="margin-left: 1rem; width: 100px"
                                       id="currentGrade" type="number" step="0.0001" required>
                                <span style="text-align: left">%</span>
                            </label>
                            <label style="display: flex; align-items: flex-end">
                                <select id="chooseClass" style="float: right" class="dropdown">
                                    <option>-- Class --</option>
                                    <% for (let i = 0; i < user.grades.length; i++) { %>
                                        <option><%= user.grades[Object.keys(user.grades)[i]].class_name %></option>
                                    <% } %>
                                </select>
                            </label>
                        </div>
                        <div style="display: flex; align-items: center">
                            <label class="form-group" style="display: flex; align-items: flex-end">
                                <span style="text-align: right">You want at least a</span>
                                <input class="number-input form-control" style="margin: 0 1rem 0 1rem; width: 100px"
                                       id="goal" type="number" step="0.01" required>
                                <span style="text-align: left">% in the class.</span>
                            </label>
                            <label style="display: flex; align-items: flex-end">
                                <select id="chooseLetterGrade" style="float: right" class="dropdown">
                                    <option>-- Letter Grade --</option>
                                    <option value="97.5">A+</option>
                                    <option value="92.5">A</option>
                                    <option value="89.5">A-</option>
                                    <option value="87.5">B+</option>
                                    <option value="82.5">B</option>
                                    <option value="79.5">B-</option>
                                    <option value="77.5">C+</option>
                                    <option value="72.5">C</option>
                                    <option value="69.5">C-</option>
                                    <option value="67.5">D+</option>
                                    <option value="62.5">D</option>
                                    <option value="59.5">D-</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>Final Info</h5>
                        <div style="display: flex; align-items: center">
                            <label class="form-group" style="display: flex; align-items: flex-end;">
                                <span style="text-align: right">Your final is worth</span>
                                <input class="number-input form-control" style="margin: 0 1rem 0 1rem; width: 100px"
                                       id="finalWeight" type="number" step="0.00000001">
                                <span style="text-align: left">% of your grade.</span>
                            </label>
                        </div>
                        <h6><strong>or</strong></h6>
                        <div style="display: flex; align-items: center">
                            <label class="form-group" style="display: flex; align-items: flex-end;">
                                <span style="text-align: right">Your final is worth</span>
                                <input class="number-input form-control" style="margin: 0 1rem 0 1rem; width: 100px"
                                       id="finalPoints" type="number" step="0.00000001">
                                <span style="text-align: left">points in </span>
                            </label>
                            <label style="display: flex; align-items: flex-end">
                                <select id="chooseWeight" style="float: right" class="dropdown"></select>
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-lg" type="submit">
                            Calculate what I need on the final
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>

    user = <%- userRef %>;

    // Set up input divs
    let currentGradeDiv = $('#currentGrade');
    let chooseClassDiv = $('#chooseClass');
    let goalDiv = $('#goal');
    let chooseLetterGradeDiv = $('#chooseLetterGrade');
    let finalWeightDiv = $('#finalWeight');
    let finalPointsDiv = $('#finalPoints');
    let chooseWeightDiv = $('#chooseWeight');
    let form = $('#calculateFinalGrade');

    // Messages
    let feedbackMessageDiv = $('#calculatorMessage');

    // Initialize  weight dropdown
    manageChooseWeight(chooseClassDiv[0].selectedIndex - 1);

    // Manage changes of currentGradeDiv
    currentGradeDiv.on('input', function () {
        // Submit the form.
        form.submit();
    });

    // Manage changes of chooseClassDiv
    chooseClassDiv.on('input', function () {
        if ($(this)[0].selectedIndex === 0) {
            currentGradeDiv.val('');
            currentGradeDiv.prop('defaultValue', '');
            finalWeightDiv.val('');
            finalWeightDiv.prop('defaultValue', '');
        } else {
            currentGradeDiv.val(+(getOverallGrade($(this)[0].selectedIndex - 1).toFixed(3)));
            currentGradeDiv.prop('defaultValue', +(getOverallGrade($(this)[0].selectedIndex - 1).toFixed(3)));
        }
        finalWeightDiv.val('');
        finalWeightDiv.prop('defaultValue', '');
        finalPointsDiv.val('');
        finalPointsDiv.prop('defaultValue', '');
        manageChooseWeight($(this)[0].selectedIndex - 1);

        // Submit the form.
        form.submit();
    });

    // Manage changes of goalDiv
    goalDiv.on('input', function () {
        // Submit the form.
        form.submit();
    });

    // Manage changes of chooseLetterGradeDiv
    chooseLetterGradeDiv.on('input', function () {
        goalDiv.val(document.getElementById('chooseLetterGrade').options[$(this)[0].selectedIndex].value);
        goalDiv.prop('defaultValue', document.getElementById('chooseLetterGrade').options[$(this)[0].selectedIndex].value);
    });

    // Manage changes of finalWeightDiv
    finalWeightDiv.on('input', function () {
        // Submit the form.
        form.submit();
    });

    // Manage changes of finalPointsDiv
    finalPointsDiv.on('input', function () {
        finalWeightDiv.val('');
        finalWeightDiv.prop('defaultValue', '');
        let selectedWeight = $('#chooseWeight option:selected');

        if (!selectedWeight.val() && !finalPointsDiv.val()) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Enter Final Points');
            return;
        }

        if (!finalPointsDiv.val()) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Enter Final Points')
            return;
        }

        if (!selectedWeight.val()) {
            let selectedClass = $('#chooseClass option:selected');
            console.log(selectedClass);
            if (selectedClass.val() !== '-- Class --') {
                feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Select a Category');
            } else {
                feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Select a Class');
            }
            return;
        }

        feedbackMessageDiv.css('display', 'none').find('.messageTxt').text('');

        if (chooseClassDiv[0].selectedIndex !== 0) {
            // Get the form.
            let formData;
            let message;

            // Serialize the form data.
            formData = JSON.parse(JSON.stringify('username=' + user.username
                + '&' + 'currentGrade=' + currentGradeDiv[0].valueAsNumber
                + '&' + 'classIndex=' + (chooseClassDiv[0].selectedIndex - 1)
                + '&' + 'categoryName=' + selectedWeight.html()
                + '&' + 'finalPoints=' + finalPointsDiv.val()
                + '&' + 'categoryWeight=' + selectedWeight.val()));

            // Get the text field
            message = finalWeightDiv;

            // Submit the form using AJAX.
            $.ajax({
                type: 'POST',
                url: '/getFinalWeightWithCategory',
                data: formData,
                async: true
            })

                .done(function (response) {
                    // Set the message text.
                    $(message).val(parseFloat(parseFloat(response).toFixed(8)));
                    $(message).prop('defaultValue', parseFloat(parseFloat(response).toFixed(8)));

                    // Submit the form.
                    form.submit();
                })

                .fail(function (data) {

                    // Set the message text.
                    if (data.responseText !== '') {
                        $(message).val(data.responseText);
                        $(message).prop('defaultValue', data.responseText);
                    } else {
                        $(message).val('');
                        $(message).prop('defaultValue', '');
                        $(message).val('----');
                        $(message).prop('defaultValue', '----');
                    }

                })
        }
    });

    // Mange changes of chooseWeightDiv
    chooseWeightDiv.on('input', function () {
        finalWeightDiv.val('');
        finalWeightDiv.prop('defaultValue', '');
        let selectedWeight = $('#chooseWeight option:selected');

        if (!selectedWeight.val() && !finalPointsDiv.val()) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-info').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Select a Category');
            return;
        }

        if (!selectedWeight.val()) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-info').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Select a Category');
            return;
        }

        if (!finalPointsDiv.val()) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-info').addClass('alert-info').css('display', 'block').find('.messageTxt').text('Enter Final Points');
            return;
        }

        feedbackMessageDiv.css('display', 'none').find('.messageTxt').text('');

        if ($(this[0].selectedIndex !== 0)) {
            // Get the form.
            let formData;
            let message;

            // Serialize the form data
            formData = JSON.parse(JSON.stringify('username=' + user.username
                + '&' + 'currentGrade=' + currentGradeDiv[0].valueAsNumber
                + '&' + 'classIndex=' + (chooseClassDiv[0].selectedIndex - 1)
                + '&' + 'categoryName=' + selectedWeight.html()
                + '&' + 'finalPoints=' + finalPointsDiv.val()
                + '&' + 'categoryWeight=' + selectedWeight.val()));

            // Get the text field
            message = finalWeightDiv;

            // Submit the form using AJAX.
            $.ajax({
                type: 'POST',
                url: '/getFinalWeightWithCategory',
                data: formData,
                async: true
            })

                .done(function (response) {
                    // Set the message text.
                    $(message).val('');
                    $(message).prop('defaultValue', '');
                    $(message).val(parseFloat(parseFloat(response).toFixed(8)));
                    $(message).prop('defaultValue', parseFloat(parseFloat(response).toFixed(8)));

                    // Submit form (Necessary in some cases)
                    form.submit();
                })

                .fail(function (data) {

                    // Set the message text.
                    if (data.responseText !== '') {
                        $(message).val(data.responseText);
                        $(message).prop('defaultValue', data.responseText);
                    } else {
                        $(message).val('----');
                        $(message).prop('defaultValue', '----');
                    }
                })
        }
    });

    // Manage form submission
    form.submit(function (event) {

        event.preventDefault();
        console.log('submitting');
        let currentGrade = currentGradeDiv[0].valueAsNumber;
        let goal = goalDiv[0].value;
        let finalWeight = finalWeightDiv[0].valueAsNumber;
        let letterGoal;

        if (!currentGrade) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').find('.messageTxt').text('Enter Current Grade or Select Class');
            return;
        }

        if (!goal) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').find('.messageTxt').text('Enter Your Goal or Select Letter Grade');
            return;
        }

        if (!finalWeight) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-danger').addClass('alert-info').find('.messageTxt').text('Fill In Final Info');
            return;
        }

        let digitsInGoalMinusOne = Math.floor(Math.log10(goal)),
            firstDigitInGoal = Math.floor(goal / Math.pow(10, digitsInGoalMinusOne));
        if (firstDigitInGoal === 8) {
            letterGoal = 'an ' + goal + '%';
        } else {
            letterGoal = 'a ' + goal + '%';
        }

        if (goal === '97.5') {
            letterGoal = 'an A+';
        } else if (goal === '92.5') {
            letterGoal = 'an A';
        } else if (goal === '89.5') {
            letterGoal = 'an A-';
        } else if (goal === '87.5') {
            letterGoal = 'a B+';
        } else if (goal === '82.5') {
            letterGoal = 'a B';
        } else if (goal === '79.5') {
            letterGoal = 'a B-';
        } else if (goal === '77.5') {
            letterGoal = 'a C+';
        } else if (goal === '72.5') {
            letterGoal = 'a C';
        } else if (goal === '69.5') {
            letterGoal = 'a C-';
        } else if (goal === '67.5') {
            letterGoal = 'a D+';
        } else if (goal === '62.5') {
            letterGoal = 'a D';
        } else if (goal === '59.5') {
            letterGoal = 'a D-';
        }

        //TODO Finish these messages
        let grade = +((goal - (currentGrade * (100 - finalWeight) / 100)) / finalWeight * 100).toFixed(3);
        let startMessage;
        let endMessage;
        if (grade > 100) {
            startMessage = "Aww snap!";
            endMessage = "Try aiming a little lower.";
        } else if (grade > 90) {
            startMessage = "Ooh that's close!";
            endMessage = "Study hard!";
        } else if (grade > 80) {
            startMessage = "Hey, that's not bad!";
            endMessage = "You can do it!"
        } else if (grade > 70) {
            startMessage = "Looks like your hard work paid off!";
            endMessage = "";
        } else if (grade > 60) {
            startMessage = "";
            endMessage = "";
        } else if (grade > 50) {
            startMessage = "";
            endMessage = "";
        } else if (grade > 0) {
            startMessage = "";
            endMessage = "";
        } else {
            startMessage = "";
            endMessage = "";
        }

        let digitsInGradeMinusOne = Math.floor(Math.log10(grade)),
            firstDigitInGrade = Math.floor(grade / Math.pow(10, digitsInGradeMinusOne));

        let formattedGrade;
        if (!grade) {
            return;
        }
        if (firstDigitInGrade === 8) {
            formattedGrade = 'an ' + grade + '%';
        } else {
            formattedGrade = 'a ' + grade + '%';
        }

        let gradeMessage = "You need " + formattedGrade + " on the final to get " + letterGoal + " overall.";
        let message = startMessage + " " + gradeMessage + " " + endMessage;

        if (currentGradeDiv[0].valueAsNumber < 0) {
            feedbackMessageDiv.removeClass('alert-danger').removeClass('alert-info').addClass('alert-success').css('display', 'block').find('.messageTxt').text(message);
        } else if (finalWeightDiv[0].valueAsNumber <= 0) {
            feedbackMessageDiv.removeClass('alert-success').removeClass('alert-info').addClass('alert-danger').css('display', 'block').find('.messageTxt').text('Your final weight must be greater than 0.');
        } else if (grade < 0) {
            feedbackMessageDiv.removeClass('alert-danger').removeClass('alert-info').addClass('alert-success').css('display', 'block').find('.messageTxt').text(message);
        } else {
            feedbackMessageDiv.removeClass('alert-danger').removeClass('alert-info').addClass('alert-success').css('display', 'block').find('.messageTxt').text(message);
        }

    });

    // Sets up weight dropdown based on selected class
    function manageChooseWeight(classIndex) {
        let weightDropdown = document.getElementById('chooseWeight');
        chooseWeightDiv.find('option').remove();
        let newWeight = document.createElement('option');
        newWeight.text = '-- Category --';
        newWeight.value = '';
        weightDropdown.add(newWeight);
        if (classIndex >= 0) {
            for (let i = 0; i < Object.keys(user.weights[user.grades[Object.keys(user.grades)[classIndex]].class_name]).length; i++) {
                let newWeight = document.createElement('option');
                newWeight.text = Object.keys(user.weights[user.grades[Object.keys(user.grades)[classIndex]].class_name])[i];
                newWeight.value = Object.values(user.weights[user.grades[Object.keys(user.grades)[classIndex]].class_name])[i].toString();
                weightDropdown.add(newWeight)
            }
        }
        if (weightDropdown.length === 1) {
            chooseWeightDiv.find('option').remove();
            newWeight.text = '-- Select Class --';
            newWeight.value = '';
            weightDropdown.add(newWeight);
        }

    }

    // Hides message
    function closeMessage(id) {
        document.getElementById(id).style.display = 'none';
    }

    // Returns total weight of class
    function getTotalWeight(classIndex) {
        let className = user.grades[classIndex].class_name;
        let classWeights = Object.values(user.weights[className]);
        let totalWeight = 0;
        for (let i = 0; i < classWeights.length; i++) {
            totalWeight += classWeights[i];
        }
        return totalWeight;
    }

    // Returns overall grade of class
    function getOverallGrade(classIndex) {
        let className = user.grades[classIndex].class_name;
        if (className in user.weights) {
            let classCategories = Object.keys(user.weights[className]);
            let classWeights = Object.values(user.weights[className]);
            let overallGrade = 0;
            for (let i = 0; i < classCategories.length; i++) {
                overallGrade += getCategoryGrade(classIndex, classCategories[i]) * classWeights[i] / 100;
            }
            let ratio = 100 / getTotalWeight(classIndex);
            overallGrade *= ratio;
            return overallGrade;
        }
        return 0;
    }

    // Returns grade in category of class
    function getCategoryGrade(classIndex, categoryName) {
        let grades = user.grades[classIndex].grades;
        let totalGotten = 0;
        let totalPossible = 0;
        for (let i = 0; i < grades.length; i++) {
            if (!grades[i].exclude && grades[i].category === categoryName) {
                totalGotten += grades[i].points_gotten;
                totalPossible += grades[i].points_possible;
            }
        }
        if (totalPossible === 0) {
            return 0;
        }
        return +((totalGotten / totalPossible * 100).toFixed(3));
    }

</script>