<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="/public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="wot-verification" content="5c773c9acca0afa3e00e"/>
    <meta name="google-site-verification" content="V1uOTCUT5-IUFr-emEfyIvawYTz3DklEqorkkO5-nF8"/>
</head>

<body>
<div class="container h-100 d-flex justify-content-center ">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="text-center card-title">
                    <img src="/public/resources/dark_mode/logo.png" class="logo" width=60rem> Graderoom
                </h1>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible">
                        <a class="close" data-dismiss="alert" aria-label="close">X</a>
                        <%= message %>
                    </div>
                <% } %>
                <br>
                <form class="form-signin" action="/login" method="post">
                    <div class="input-group form-group">
                        <i class="user-bg"></i>
                        <label>Username</label>
                        <input oninput="checkLabel(this)" type="text" class="form-control" name="username"
                               autofocus>
                    </div>
                    <div class="input-group form-group">
                        <i class="lock-bg"></i>
                        <label>Password</label>
                        <input oninput="checkLabel(this)" type="password" class="form-control" name="password">
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default btn-lg">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="/signup">Create Account</a>
            </div>
            <div class="card-footer text-center">
                <a href="/finalgradecalculator">Final Grade Calculator</a>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Imports -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    let localStorage = window.localStorage;
    let defaultAppearance = localStorage.getItem("defaultAppearance");
    if (defaultAppearance) {
        if (defaultAppearance === "dark") {
            document.getElementById("pageStyle").setAttribute("href", "public/css/dark_mode.css");
        } else {
            document.getElementById("pageStyle").setAttribute("href", "public/css/light_mode.css");
        }
    } else {
        localStorage.setItem("defaultAppearance", "light");
        document.getElementById("pageStyle").setAttribute("href", "/public/css/light_mode.css");
    }


    setTimeout(function () {
        $('input:-webkit-autofill').each(function () {
            let input = $(this);
            let label = $($(input)[0].previousElementSibling);
            label.addClass("label-active");
        });
    }, 250);

    function checkLabel(input) {
        let label = $($(input)[0].previousElementSibling);
        input = $(input);
        if (input[0].value !== "") {
            if (!label.hasClass("label-active")) {
                label.addClass("label-active");
            }
        } else {
            label.removeClass("label-active");
        }
    }
</script>
</body>
</html>
