<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
    <a href="/" class="btn btn-md">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Return
    </a>
    <br> <br> <br>
    <div class="container">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="card card-signin card-no-bg">
                <h1 class="text-center card-title"><span class="fa fa-cog"></span> Settings</h1>

                <% if (settingsChangeMessageSuccess.length > 0) { %>
                    <div class="alert alert-success"><%= settingsChangeMessageSuccess %></div>
                <% } %>
                <% if (settingsChangeMessageFail.length > 0) { %>
                    <div class="alert alert-danger"><%= settingsChangeMessageFail %></div>
                <% } %>

                <form class="form-signin" action="/changepassword" method="post">
                    <div class="form-group">
                        <label>Change Password</label>
                        <input type="password" class="form-control" name="password" autofocus>
                    </div> 
                    <div class="text-center">  
                        <button type="submit" class="btn btn-default btn-lg">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> 
                            Change Password
                        </button>
                    </div>
                </form>
                <form class="form-signin" style="margin-top: 1em" action="/changeschoolusername" method="post">
                    <div class="form-group">
                        <label>Change School Email</label>
                        <input type="text" class="form-control" name="password" autofocus>
                    </div> 
                    <div class="text-center">  
                        <button type="submit" class="btn btn-default btn-lg">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> 
                            Change School Email
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
