<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container h-100 d-flex justify-content-center ">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="text-center card-title">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Sign Up
                </h1>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible">
                        <a class="close" data-dismiss="alert" aria-label="close">X</a>
                        <%= message %>
                    </div>
                <% } %>
                <form class="form-signin" action="/signup" method="post">
                    <div class="form-group">
                        <label>Username *</label> <input type="text" class="form-control user-bg" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password *</label> <input type="password" class="form-control lock-bg" name="password">
                    </div>
                    <div class="form-group">
                        <label>School Email *</label> <input type="text" class="form-control email-bg"
                                                             name="school_email">
                    </div>
                    <div class="form-group">
                        <label>Beta Key *</label> <input type="text" class="form-control key-bg" name="beta_key">
                    </div>

                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default btn-lg">Signup</button>
                    </div>
                </form>
            </div>

            <div class="card-footer text-center">
                <a href="/">Sign in instead</a>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Imports -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    let localStorage = window.localStorage;
    let defaultAppearance = localStorage.getItem("defaultAppearance");
    if (defaultAppearance) {
        if (defaultAppearance === "dark") {
            document.getElementById("pageStyle").setAttribute("href", "public/css/dark_mode.css");
        } else {
            document.getElementById("pageStyle").setAttribute("href", "public/css/light_mode.css");
        }
    } else {
        localStorage.setItem("defaultAppearance", "light");
        document.getElementById("pageStyle").setAttribute("href", "/public/css/light_mode.css");
    }
</script>
</body>
</html>
