<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <!-- Navbar -->
    <% include partials/navbar.ejs %>


    <!-- Update Grade Card -->
    <div class="container">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="card card-signin card-no-bg">
                <div class="card-body">   
                    <h1 class="card-title text-center">School Login</h1>
                    <h5 class="text-center">Enter password for: </h5>
                    <h5 class="text-center" style="color: #BBBBBB;"><%=schoolUsername%></h5>
                    <br>
                    <form class="form-signin" action="/update" method="post">
                        <div class="form-group">
                            <input name="school_password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-default" type="submit" onclick="hideDiv('toggle')">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</body>
</html>
