/* Not Firefox */
@supports (backdrop-filter: blur(0.1rem)) {
    .blurred-background, .blur {
        background: transparent !important;
    }

    .blurred-background {
        backdrop-filter: blur(0.2rem);
        -webkit-backdrop-filter: blur(0.2rem);
    }

    .blur {
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
    }

    #termSwitcher > div.blur {
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
    }

    #notificationPanel:not(.active) {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .chart-placeholder {
        backdrop-filter: blur(0.2rem);
        -webkit-backdrop-filter: blur(3rem);
    }

    div.unlock-with {
        backdrop-filter: blur(2px);
    }

    .popup > i > span {
        background-color: transparent !important;
        backdrop-filter: blur(1rem);
        border: 2px solid rgba(from currentColor r g b / 0.3) !important;
    }

    .popup-top-right::after, .popup-top::after, .popup-top-left::after {
        border-top: 0.5rem solid rgba(from currentColor r g b / 0.3) !important;
    }

    .popup-bottom-right::after, .popup-bottom::after, .popup-bottom-left::after {        top: calc(100% + 1px) !important;
        border-bottom: 0.5rem solid rgba(from currentColor r g b / 0.3) !important;
    }

    .popup-left-top::after, .popup-left::after, .popup-left-bottom::after {
        border-left: 0.5rem solid rgba(from currentColor r g b / 0.3) !important;
    }

    .popup-right-top::after, .popup-right::after, .popup-right-bottom::after {
        border-right: 0.5rem solid rgba(from currentColor r g b / 0.3) !important;
    }

    #classLinks {
        transition: all 200ms ease;
    }

    /* Mobile Stuff */
    @media only screen and (max-width: 991px) {
        #termSwitcher {
            background-color: unset !important;
        }

        #clickBarrier.blocking {
            background: transparent !important;
            backdrop-filter: blur(0.2rem);
            -webkit-backdrop-filter: blur(0.2rem);
        }

        #GPA-container {
            background: transparent !important;
            backdrop-filter: blur(0.5rem);
            -webkit-backdrop-filter: blur(0.5rem);
        }
    }
}
