/* Not Firefox */
@supports (backdrop-filter: blur(0.1rem)) {
    .blurred-background, .blur {
        background: transparent !important;
    }

    .blurred-background {
        backdrop-filter: blur(0.2rem);
    }

    .blur {
        backdrop-filter: blur(1rem);
    }

    #termSwitcher.blur {
        backdrop-filter: blur(0.2rem);
    }

}
