.lightrope {
    white-space: nowrap;
    position: fixed;
    z-index: 15;
    height: 100vh;
    width: 100vw;
    top: 0;
    padding: 0;
    pointer-events: none;
    margin: 0;
}

.lightrope.top {
    left: -108px;
}

.lightrope.right {
    right: 0;
    top: -108px;
    width: 100vh;
    transform: rotate(0.25turn);
}

.lightrope.bottom {
    right: -108px;
    transform: rotate(0.5turn);
}

.lightrope.left {
    width: 100vh;
    top: 108px;
    transform: rotate(0.75turn);
}

.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    padding: 0;
    width: 12px;
    height: 30px;
    border-radius: 50%;
    margin: 0 30px;
    display: inline-block;
    background: rgba(31, 78, 255, 0.8);
    box-shadow: 0 5px 24px 5px #1F4EFF, inset 0 0 2px 4px #1F4EFF;
}

.lightrope li:nth-child(2n+1) {
    background: rgba(255, 188, 66, 0.8);
    box-shadow: 0 5px 24px 5px #FFBC42, inset 0 0 2px 4px #FFBC42;
}

.lightrope li:nth-child(3n+2) {
    background: rgba(12, 169, 12, 0.8);
    box-shadow: 0 5px 24px 5px #0CA90C, inset 0 0 2px 4px #0CA90C;
}

.lightrope li:nth-child(5n+3) {
    background: rgba(216, 17, 89, 0.8);
    box-shadow: 0 5px 24px 5px #D81159, inset 0 0 2px 4px #D81159;
}

.lightrope li:nth-child(7n+5) {
    background: rgba(254, 48, 11, 0.8);
    box-shadow: 0 5px 24px 5px #fe300b, inset 0 0 2px 4px #fe300b;
}

.lightrope li:nth-child(2n-1) {
    transform: translateX(-4px) rotate(10deg);
}

.lightrope li:nth-child(3n-2) {
    transform: translateX(2px) rotate(-10deg);
}

.lightrope li:nth-child(5n-3) {
    transform: translateX(-8px) rotate(20deg);
}

.lightrope li:nth-child(7n-5) {
    transform: translateX(8px) rotate(-20deg);
}

.lightrope li:nth-child(11n-7) {
    transform: translateX(-10px) rotate(30deg);
}

.lightrope li:nth-child(13n-11) {
    transform: translateX(10px) rotate(-30deg);
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #555555;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    top: -3px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 72px;
    height: 20px;
    border-bottom: solid #555555 2px;
    border-radius: 50%;
}

.lightrope li:nth-child(2n-1):after {
    transform: rotate(-10deg) translateY(-7px);
}

.lightrope li:nth-child(3n-2):after {
    transform: rotate(10deg) translateY(7px);
}

.lightrope li:nth-child(5n-3):after {
    transform: rotate(-20deg) translateY(-14px);
}

.lightrope li:nth-child(7n-5):after {
    transform: rotate(20deg) translateY(13px);
}

.lightrope li:nth-child(11n-7):after {
    transform: rotate(-30deg) translateY(-22px);
}

.lightrope li:nth-child(13n-11):after {
    transform: rotate(30deg) translateY(17px);
}

.lightrope li:last-child:after {
    content: none;
}
