body {
    background-color: #222222;
    color: #FFFFFF
}

hr {
    background-color: #333333;
}

nav {
    background-color: #333333;
    color: #222222;
}

nav h1 {
    color: #FFFFFF;
}

nav h5 {
    color: #CCCCCC;
}

nav .btn {
    color: white;
    background-color: transparent;
}

nav .btn:hover {
    color: #333333;
    background-color: #BBBBBB;
}

nav .navbar-toggler:hover {
    background-color: #444444;
}

td {
    border-color: #333333 !important;
}

th {
    border-color: #333333 !important;
}

:disabled {
    background-color: #222222 !important;
}

.blurred-background {
    background-color: #000000 !important;
}

.btn {
    background-color: #BBBBBB;
    color: #333333;
}

.btn:hover {
    border-color: #BBBBBB;
    color: #BBBBBB;
}

.approve_btn {
    background-color: #95ad95;
}
.approve_btn:hover {
    color: #95ad95; border-color: #95ad95;
}
.deny_btn{
    background-color: #d6a1a1;
}
.deny_btn:hover{
    color: #d6a1a1; border-color: #d6a1a1;
}

.card {
    background-color: #333333;
}

.card a {
    color: #BBBBBB;
}

.card::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.changelog {
    background-color: #333333;
}

.changelog-item {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #222222;
}

.form-group input {
    color: white;
}

.form-group input:focus {
    border-bottom-color: #555555;
    color: white;
}

.form-group input {
    color: white;
}

.form-group input:focus {
    border-bottom-color: #555555;
    color: white;
}

.form-group:focus-within label {
    color: #BBBBBB;
}

/* Input Form Background Images */

.form-group .user-bg {
    background: url(/public/resources/dark_mode/user.png) no-repeat left/23px 27px !important;
    padding-left: 35px;
}

.form-group .email-bg {
    background: url(/public/resources/dark_mode/email.png) no-repeat left/27px 20px !important;
}

.form-group .lock-bg {
    background: url(/public/resources/dark_mode/lock.png) no-repeat left/22px 27px !important;
}

.form-group .key-bg {
    background: url(/public/resources/dark_mode/key.png) no-repeat left/26px 22px !important;
}

.form-group .user-bg {
    background: url(/public/resources/dark_mode/user.png) no-repeat left/23px 27px !important;
}

.logo {
    content: url(/public/resources/dark_mode/logo.png) !important;
}

.mini:before {
    background-color: darkgreen !important;
}

.nav {
    background-color: #333333;
}

.nav .active {
    background-color: #222222;
    color: #FFFFFF;
}

.popup .popuptext {
    background-color: #555555;
    color: #FFFFFF;
}

.school-username {
    color: #BBBBBB
}

.scroll-to {
    background: #000000;
    filter: opacity(0.7);
}

.sk-chase-dot:before {
    background-color: #FFFFFF;
}

.tab {
    border-top-color: #222222;
    border-bottom-color: #222222;
    background-color: #333333;
}

.tab btn {
    color: #888888;
}

.tab btn.active {
    background-color: #444444;
    color: #DDDDDD;
}

.tab btn:hover {
    color: #BBBBBB;
}

.changelog-container .body {
    color: #EEEEEE;
}

.changelog-container .current {
    background-color: rgba(0, 255, 0, 0.06);
}

.changelog-container .type {
    color: #FFFFFF;
}

.weightsTable input {
    border-color: lightcoral;
}

.form-weights input::placeholder {
    color: #666666;
}

.slider {
    background-color: #444444;
}

.slider:before {
    background-color: #222222;
}

input:checked + .slider {
    background-color: currentColor;
}

input:checked + .slider:before {
    background-color: #EEEEEE;
}

#weightsCard input {
    border-color: lightcoral;
}

#weightsCard input:focus {
    border-color: red;
}

#weightsCard input.text-view {
    border-color: white;
}

#weightsCard .fail {
    color: lightcoral;
}

#weightsCard .success {
    color: lightgreen;
}