body {
    background-color: #222222;
    color: #FFFFFF
}

hr {
    background-color: #333333;
}

nav {
    background-color: #333333;
    color: #222222;
}

nav h1 {
    color: #FFFFFF;
}

nav h5 {
    color: #CCCCCC;
}

nav label {
    color: #666666;
}

.sticky {
    box-shadow: 2px 1px 20px #111111;
}

nav .btn {
    background-color: transparent;
    color: white;
}

nav .btn:hover {
    background-color: #BBBBBB;
    color: #333333;
}

td {
    border-color: #333333 !important;
}

th {
    border-color: #333333 !important;
}

::placeholder {
    color: #999999 !important;
}

:disabled {
    background-color: #222222 !important;
}

.blurred-background {
    background-color: #000000 !important;
}

.btn {
    background-color: #BBBBBB;
    color: #333333;
}

.btn:hover {
    border-color: #BBBBBB;
    color: #BBBBBB;
}

.approve_btn {
    background-color: #95AD95;
}

.approve_btn:hover {
    border-color: #95AD95;
    color: #95AD95;
}

.deny_btn {
    background-color: #D6A1A1;
}

.deny_btn:hover {
    border-color: #D6A1A1;
    color: #D6A1A1;
}

.card {
    background-color: #333333;
}

.card a {
    color: #BBBBBB;
}

.card::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.changelog {
    background-color: #333333;
}

.changelog-item {
    background-color: #222222;
}

.form-group input {
    color: white;
}

.form-group input:focus {
    border-bottom-color: #555555;
    color: white;
}

.form-group input {
    color: white;
}

.form-group input:focus {
    border-bottom-color: #555555;
    color: white;
}

.coloration {
    color: hsl(210, 48%, 48%);
}

.form-group:focus-within label {
    color: #BBBBBB;
}

/* Input Form Background Images */

.form-group .user-bg {
    background: url(/public/resources/dark_mode/user.png) no-repeat left/23px 27px !important;
    padding-left: 35px;
}

.form-group .email-bg {
    background: url(/public/resources/dark_mode/email.png) no-repeat left/27px 20px !important;
}

.form-group .lock-bg {
    background: url(/public/resources/dark_mode/lock.png) no-repeat left/22px 27px !important;
}

.form-group .key-bg {
    background: url(/public/resources/dark_mode/key.png) no-repeat left/26px 22px !important;
}

.form-group .user-bg {
    background: url(/public/resources/dark_mode/user.png) no-repeat left/23px 27px !important;
}

.mini:before {
    background-color: darkgreen !important;
}

.nav {
    background-color: #333333;
}

.nav .active {
    background-color: #222222;
    color: #FFFFFF;
}

.popup span {
    background-color: #222222;
}

.school-username {
    color: #BBBBBB
}

.scroll-to {
    background: #111111;
    filter: opacity(0.6);
}

.tab {
    background-color: #333333;
    border-bottom-color: #222222;
    border-top-color: #222222;
}

.tab btn {
    color: #888888;
}

.tab btn.active {
    background-color: #444444;
    color: #DDDDDD;
}

.tab btn:hover {
    color: #BBBBBB;
}

.changelog-container .body {
    color: #EEEEEE;
}

.changelog-container .current {
    background-color: rgba(0, 255, 0, 0.06);
}

.changelog-container .type {
    color: #FFFFFF;
}

.weightsTable input {
    border-color: lightcoral;
}

.form-weights input::placeholder {
    color: #666666;
}

.excluded {
    color: #4F4F4F !important;
}

.resetTab {
    background-image: linear-gradient(to right, #222222, #333333);
}

.resetTab:not(th) {
    border-top: 1px transparent solid !important;
}

.resetTab:not(td) {
    border-bottom: 2px transparent solid !important;
}

.slider {
    background-color: #444444;
}

.slider:before {
    background-color: #222222;
}

input:checked + .slider {
    background-color: currentColor;
}

input:checked + .slider:before {
    background-color: #EEEEEE;
}

#weightsCard input {
    border-color: lightcoral;
}

#weightsCard input:focus {
    border-color: red;
}

#weightsCard input.text-view {
    border-color: white;
}

#weightsCard .fail {
    color: lightcoral;
}

#weightsCard .success {
    color: lightgreen;
}

select {
    background-color: #444444;
    color: #FFFFFF;
}

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, lightgray 50%), linear-gradient(135deg, lightgray 50%, transparent 50%), linear-gradient(to right, #555555, #555555);
}

select.classic:focus {
    background-image: linear-gradient(45deg, lightgray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, lightgray 50%), linear-gradient(to right, #555555, #555555);
}

select.round {
    background-image: linear-gradient(45deg, transparent 50%, lightgray 50%), linear-gradient(135deg, lightgray 50%, transparent 50%), radial-gradient(#555555 60%, transparent 60%);
}

select.round:focus {
    background-image: linear-gradient(45deg, lightgray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, lightgray 50%), radial-gradient(#555555 60%, transparent 60%);
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, lightgray 50%), linear-gradient(135deg, lightgray 50%, transparent 50%), linear-gradient(to right, #555555, #555555);
}

.excluded select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #555555, #555555);
}

select.minimal:focus {
    background-image: linear-gradient(45deg, lightgray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, lightgray 50%), linear-gradient(to right, #555555, #555555);
}

.excluded select.minimal:focus {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, #555555, #555555);
}

select:focus {
    outline-color: black;
}

.excluded select {
    background-color: #222222;
    color: #4F4F4F;
}

.switchDisplayMode, .addAssignment, .tableOptions {
    background-color: #222222;
}

.gotIt {
    color: white;
}

.progress {
    border: 1px #333333 solid;
    background-color: #444444;
}

.progress-bar {
    color: #333333;
    background-color: hsl(210, 48%, 48%);;
}

.empty-progress {
    color: #333333;
    border-left: 1px solid #333333;
}
