body {
    background-color: #EEEEEE;
    color: #222222;
}

hr {
    background-color: #EEEEEE;
}

nav {
    background-color: #FFFFFF;
    color: #999999;
}

nav h1 {
    color: #000000;
}

nav h5 {
    color: #555555;
}

nav .btn {
    color: black;
    background-color: transparent;
}

nav .btn:hover {
    color: #888888;
    background-color: #FFFFFF;
}

nav .navbar-toggler {
    background-color: #AAAAAA;
}

nav .navbar-toggler:hover {
    background-color: #BBBBBB;
}

table tbody tr td {
    border-color: #EEEEEE;
}

table thead tr th {
    border-color: #EEEEEE;
}

:disabled {
    background-color: #EEEEEE !important;
}

.blurred-background {
    background-color: #FFFFFF !important;
}

.btn {
    background-color: #444444;
    color: #DDDDDD;
}

.btn:hover {
    border-color: #444444;
    color: #444444;
}

.card {
    background-color: #FFFFFF;
}

.card a {
    color: #222222;
}

.card::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.chart {
    background-color: #FFFFFF;
}

.changelog {
    background-color: #FFFFFF;
}

.changelog-container .body {
    color: #222222;
}

.changelog-container .current {
    background-color: rgba(0, 255, 0, 0.1);

}

.changelog-container .type {
    color: #000000;
}

.changelog-item {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #EEEEEE;
}

.form-group input {
    color: black;
}

.form-group input:focus {
    color: black;
    border-bottom-color: #BBBBBB;
}

.form-group .email-bg {
    background: url(/public/resources/light_mode/email.png) no-repeat left/27px 20px !important;
}

.form-group .lock-bg {
    background: url(/public/resources/light_mode/lock.png) no-repeat left/22px 27px !important;
}

.form-group .key-bg {
    background: url(/public/resources/light_mode/key.png) no-repeat left/26px 22px !important;
}

.form-group .user-bg {
    background: url(/public/resources/light_mode/user.png) no-repeat left/23px 27px !important;
}

.logo {
    content: url(/public/resources/light_mode/logo.png) !important;
}

.mini:before {
    background-color: darkgreen !important;
}

.nav {
    background-color: #FFFFFF;
    border-color: #000000;
}

.nav .active {
    color: #000000;
    background-color: #EEEEEE;
}

.popup .popuptext {
    background-color: #555555;
    color: #FFFFFF;
}

.school-username {
    color: #444444
}

.scroll-to {
    background: #FFFFFF;
    filter: opacity(0.9);
}

.sk-chase-dot:before {
    background-color: #000000;
}

.slider {
    background-color: #EEEEEE;
}

.slider:before {
    background-color: #DDDDDD;
}

input:checked + .slider {
    background-color: currentColor;
}

input:checked + .slider:before {
    background-color: #444444;
}

.tab {
    border-top-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
    background-color: #FFFFFF;
}

.tab btn {
    color: #666666;
}

.tab btn:hover {
    color: #BBBBBB;
}

.tab btn.active {
    background-color: #CCCCCC;
    color: #000000;
}

.table {
    background-color: #FFFFFF;
}

.weightsTable input {
    border-color: lightcoral;
}

.weightsTable input.text-view {
    border-color: white;
}

.form-weights input::placeholder {
    color: #DDDDDD;
}
