body {
    background:#222222; 
    color:#FFFFFF
}

/* Nav Bar Styling */
nav {
    background: #333333;
}

nav h1 {
    font-family: 'Montserrat';
    margin-bottom: 0;
}

nav h5 {
    font-family: 'Montserrat';
    margin-bottom: 0;
    color: #BBBBBB;
}

nav .btn {
    color: #BBBBBB;
    background-color: transparent;
    border-color: #BBBBBB;
}

nav .btn:hover {
    color: #333333;
    background-color: #BBBBBB;
    border-color: #BBBBBB;
}

nav .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

/* Form Input Card Styling */
.card {
    background: #333333;
}

.card a {
    color: #BBBBBB;
}

.card h1 {
    font-family: 'Montserrat'
}

.card label{
    font-family: 'Montserrat'
}
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin .btn {
    background: #BBBBBB;
    color: #333333;
    font-weight: bold;
    padding: 0.25rem;
    width: 90%;
}

.form-signin .btn:hover {
    background: none;
    border-color: #BBBBBB;
    color: #BBBBBB;
}

.form-group input {
    background: none;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
}

.form-group input:focus {
    background: none;
}

.form-group input:focus {
    color: white;
    border-bottom-color: #555555;
    box-shadow: none;
}

/* Input Form Background Images */
.form-group .user-bg {
    background: url(/public/resources/user.png) no-repeat left/23px 27px;
    padding-left: 35px;
}
.form-group .user-bg:focus {
    background: url(/public/resources/user.png) no-repeat left/23px 27px;
}

.form-group .lock-bg {
    background: url(/public/resources/lock.png) no-repeat left/22px 27px;
    padding-left: 35px;
}
.form-group .lock-bg:focus {
    background: url(/public/resources/lock.png) no-repeat left/22px 27px;
}

.form-group .email-bg {
    background: url(/public/resources/email.png) no-repeat left/27px 20px;
    padding-left: 35px;
}
.form-group .email-bg:focus {
    background: url(/public/resources/email.png) no-repeat left/27px 20px;
}

.form-group .password-bg {
    background: url(/public/resources/password.png) no-repeat left/26px 22px;
    padding-left: 35px;
}
.form-group .password-bg:focus {
    background: url(/public/resources/password.png) no-repeat left/26px 22px;
}