@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%, 0% {
        transform: scale(1.0);
    }
}

@media only screen and (max-width: 768px) {
    nav h1 {
        font-size: 2rem;
    }
}

nav .navbar-collapse li, nav .navbar-collapse .btn {
    margin: 0.1rem 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    padding-bottom: 10rem;
}

hr {
    height: 1px;
}

html {
    overflow: scroll;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html *, html {
    scrollbar-width: none; /*hide scrollbar in firefox */
}

nav {
    box-shadow: 0 1px 2px;
}

nav h1 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}

nav h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 0;
    padding: .375rem .75rem 0 .75rem;
}

nav label {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}

nav .btn {
    margin: .5rem;
}

nav .navbar-collapse li, nav .navbar-collapse .btn {
    text-align: center;
    width: 100%;
}

nav .navbar-toggler:focus {
    outline: none;
}

nav .navbar-toggler {
    border: none;
    filter: opacity(0.6);
}

nav .navbar-toggler:hover {
    filter: opacity(1);
}

table tbody tr td {
    border-bottom: none;
    border-left: none;
    border-style: solid;
}

table tbody tr td:last-child {
    border-right: none;
}

table thead tr th {
    border-left: none;
    border-style: solid;
}

table thead tr th:last-child {
    border-right: none;
}

.class-table:not(#table-1) thead tr th:nth-last-child(2) {
    border-right: none;
}

.class-table:not(#table-1) tbody tr td:nth-last-child(2) {
    border-right: none;
}

.table:not(#table-1) td {
    vertical-align: middle !important;
}

:disabled {
    pointer-events: none;
}

::-webkit-scrollbar {
    display: none;
}

.admin .btn {
    margin: 0 !important;
    width: min-content;
}

.admin:not(.btn) {
    padding: 0.5rem !important;
    text-align: center;
    vertical-align: middle;
}

.alert .close {
    color: inherit !important;
    font-size: 1rem;
    line-height: 1.5;
}

.announcement {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.blurred-background {
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
}

.btn {
    font-weight: bold;
    margin: 1em;
}

.btn:hover {
    background: none;
}

.btn:focus {
    box-shadow: none;
}

.approve_btn, .deny_btn {
    font-size: 0.9rem;
    padding: .2rem .2rem !important;
}

.card-no-bg {
    background: none !important;
    box-shadow: none !important;
}

.card h1 {
    font-family: "Montserrat", sans-serif;
}

.card label {
    font-family: "Montserrat", sans-serif;
}

.card::-webkit-scrollbar {
    display: initial;
    width: 24px;
}

.card::-webkit-scrollbar-button, .card::-webkit-scrollbar-corner {
    display: none;
}

.card::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 8px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 0, 0.1);
    border-top: 15px solid rgba(0, 0, 0, 0.1);
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-body {
    padding: 2rem;
}

.chart {
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}

.changelog {
    border: none;
    padding: 0;
}

.changelog-container {
    font-family: "Quicksand", sans-serif;
    max-height: 70vh;
    overflow-y: scroll;
    position: relative;
}

.changelog-container .added {
    background-color: rgba(28, 155, 221, 0.5);
}

.changelog-container .announcement .content {
    font-weight: bold;
}

.changelog-container strong {
    cursor: pointer;
}

.changelog-container strong:hover {
    text-decoration: underline;
}

.changelog-container .body {
    display: list-item;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0 0 0 2rem;
    padding: 0;
}

.changelog-container .changelog-item {
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.1rem 0.5rem 2rem 0.5rem;
}

.changelog-container .changelog-item:first-child {
    margin-top: 0;
}

.changelog-container .content {
    border-radius: 0.5rem;
    display: inline-block;
    width: 98%;
}

.changelog-container .date {
    border-radius: 50%;
    opacity: .5;
    vertical-align: top;
}

.changelog-container .fixed {
    background-color: rgba(255, 180, 0, 0.5);
}

.changelog-container .header {
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0.5rem;
    vertical-align: top;
    width: fit-content;
}

.sticky > .nav-item {
    width: auto;
}

.sticky {
    flex-direction: row;;
    left: 50%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    transition: box-shadow 100ms;
    width: 100%;
    z-index: 999;
}

.changelog-container .improved {
    background-color: rgba(44, 185, 103, 0.5);
}

.changelog-container .removed {
    background-color: rgba(221, 103, 28, 0.5);
}

.changelog-container .title {
    font-size: 1.2rem;
    font-style: oblique;
    margin: 0;
    width: fit-content;
}

.changelog-container .type {
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.9rem 0 0.9rem 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
}

.accordian-label h5:hover {
    font-weight: bold !important;
}

.down {
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -5rem;
}


.form-signin .btn {
    font-weight: bold;
    padding: 0.25rem;
    width: 90%;
}

.form-signin .btn:hover {
    background: none;
}

.form-group input {
    background: none !important;
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
}

.form-group input:focus {
    box-shadow: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.form-group .user-bg {
    padding-left: 35px;
}

.form-group .lock-bg {
    padding-left: 35px;
}

.form-group .email-bg {
    padding-left: 35px;
}

.form-group .key-bg {
    padding-left: 35px;
}

.input-group {
    margin-bottom: 2rem;
    position: relative;
}

.input-group input {
    padding-left: 0.3rem;
    transition: width 240ms ease;
    width: 100%;
}

.input-group label {
    filter: opacity(0.4);
    left: 2.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 180ms ease;
    width: 100%;
}

.fa-close {
    cursor: pointer;
}

.popup {
    z-index: 2;
}

.popup .fa-close {
    font-size: 1rem;
    height: 0.5rem;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    transform: translateX(-50%) translateY(-50%);
    width: 0.5rem;
}

.popup span {
    animation: fadeIn 400ms ease;
    border: currentColor solid 2px;
    border-radius: 0.2rem;
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    max-width: 15rem;
    min-width: 10rem;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    position: absolute;
    text-align: center;
    white-space: normal;
    z-index: 2;
}

.popup i, .popup button, .popup btn {
    position: relative;
}

.popup i:hover span, input:focus + .popup i span {
    animation: fadeIn 400ms;
    display: block;
}

.dont-show {
    display: none !important;
}

.always-show {
    display: block !important;
}

.input-group .popup i {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-top-right {
    bottom: 150%;
    left: 50%;
    transform: translateX(-25%);
}

.popup .popup-top-right::after {
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.5rem solid currentColor;
    content: "";
    position: absolute;
    right: 75%;
    top: 100%;
    transform: translateX(50%);
}

.input-group .popup {
    z-index: 3 !important;

.popup .popup-top {
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.popup .popup-top::after {
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.5rem solid currentColor;
    content: "";
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translateX(50%);
}

.popup .popup-top-left {
    bottom: 150%;
    left: 50%;
    transform: translateX(-75%);
}

.popup .popup-top-left::after {
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.5rem solid currentColor;
    content: "";
    position: absolute;
    right: 25%;
    top: 100%;
    transform: translateX(50%);
}

.popup .popup-left-top {
    right: 150%;
    top: 50%;
    transform: translateY(-75%);
}

.popup .popup-left-top::after {
    border-bottom: 0.25rem solid transparent;
    border-left: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    left: 100%;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
}

.popup .popup-left {
    right: 150%;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-left::after {
    border-bottom: 0.25rem solid transparent;
    border-left: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-left-bottom {
    right: 150%;
    top: 50%;
    transform: translateY(-25%);
}

.popup .popup-left-bottom::after {
    border-bottom: 0.25rem solid transparent;
    border-left: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    left: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
}

.popup .popup-bottom-left {
    left: 50%;
    top: 150%;
    transform: translateX(-75%);
}

.popup .popup-bottom-left::after {
    border-bottom: 0.5rem solid currentColor;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    bottom: 100%;
    content: "";
    position: absolute;
    right: 25%;
    transform: translateX(50%);
}

.popup .popup-bottom {
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
}

.popup .popup-bottom::after {
    border-bottom: 0.5rem solid currentColor;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    bottom: 100%;
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.popup .popup-bottom-right {
    left: 50%;
    top: 150%;
    transform: translateX(-25%);
}

.popup .popup-bottom-right::after {
    border-bottom: 0.5rem solid currentColor;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    bottom: 100%;
    content: "";
    position: absolute;
    right: 75%;
    transform: translateX(50%);
}

.popup .popup-right-bottom {
    left: 150%;
    top: 50%;
    transform: translateY(-25%);
}

.popup .popup-right-bottom::after {
    border-bottom: 0.25rem solid transparent;
    border-right: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    position: absolute;
    right: 100%;
    top: 25%;
    transform: translateY(-50%);
}

.popup .popup-right {
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-right::after {
    border-bottom: 0.25rem solid transparent;
    border-right: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.popup .popup-right-top {
    left: 150%;
    top: 50%;
    transform: translateY(-75%);
}

.popup .popup-right-top::after {
    border-bottom: 0.25rem solid transparent;
    border-right: 0.5rem solid currentColor;
    border-top: 0.25rem solid transparent;
    content: "";
    position: absolute;
    right: 100%;
    top: 75%;
    transform: translateY(-50%);
}

.fa-check-circle {
    color: green;
}

.fa-exclamation-circle {
    color: red !important;
}

.fa-spinner {
    color: blue;
}

.fa-pulse, .fa-spin {
    top: 25% !important; /* Vertically centers spinning icons */
}

.label-active {
    filter: opacity(1) !important;
    font-size: xx-small !important;
    left: 2.2rem !important;
    top: -0.5rem !important;
}

.nav {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0 !important;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    width: fit-content;
    width: -moz-fit-content;
}

.nav .active {
    border-radius: 0.5rem;
    font-weight: bolder;
}

.nav-item {
    cursor: pointer;
    width: inherit;
}

.no-scroll {
    overflow: hidden;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
}

.number-input {
    width: 5rem;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scroll-to {
    cursor: pointer;
    height: 1.75rem;
    padding: 0 0.5rem 0.2rem 0.5rem;
    position: absolute;
    text-align: center;
    transition: filter 500ms;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 10rem;
    z-index: 2;
}

.scroll-to:hover {
    filter: opacity(1);
}

.sk-chase {
    animation: sk-chase 2.5s infinite linear both;
    bottom: 0;
    height: 5rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
}

.sk-chase-dot {
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sk-chase-dot:before {
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
    border-radius: 100%;
    content: "";
    display: block;
    height: 25%;
    width: 25%;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

.sk-chase-mini {
    animation: sk-chase 2.5s infinite linear both;
    bottom: 0;
    height: 1rem;
    left: 0;
    margin-top: 3px;
    right: 0;
    top: 0;
    width: 1rem;
}

.tab {
    align-self: center;
    border-bottom-style: solid;
    border-top-style: solid;
    cursor: context-menu;
    margin: auto;
    overflow: hidden;
    padding: 0.25rem;
    vertical-align: top;
    width: max-content;
    z-index: 2;
}

.tab btn {
    background: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    float: left;
    outline: none;
    padding: 8px 16px;
    transition: 0.3s;
}

.tab btn.active {
    font-weight: bold;
}

.tabcontent {
    border-top: none;
    display: none;
    max-height: 60vh;
    overflow: scroll;
    padding: 6px 12px;
}

th {
    vertical-align: middle !important;
}

.resetTab {
    border-radius: 0 1rem 1rem 0 !important;
    position: absolute;
    z-index: 1 !important;
}

tbody tr {
    height: 100%;
}

.table th {
    border-top: none;
}

.tablinks {
    cursor: pointer;
}

.up {
    border-radius: 0 0 0.5rem 0.5rem;
    left: 50%;
    margin: 0 0 0 -5rem;
}

.switch {
    display: block;
    margin: 0 0 0 0.5rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 1.9rem;
}

.switch:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    border-radius: 0.6rem;
    bottom: 0;
    cursor: pointer;
    height: 1.2rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0.24rem;
    transition: 0.4s;
    vertical-align: middle;
    width: 2.4rem;
}

.slider:before {
    border-radius: 0.48rem;
    content: "";
    height: 0.96rem;
    left: 0.15rem;
    position: absolute;
    top: 0.12rem;
    transform: translateX(0);
    transition: 0.4s;
    width: 0.96rem;
}

input:checked + .slider:before {
    transform: translateX(1.14rem);
}

.form-weights .disableable {
    padding: 0;
}

.form-weights .disabled {
    border-bottom: none !important;
    color: #999999 !important;
}

.form-weights input[type="checkbox"] {
    vertical-align: middle;
}

.form-weights input:not([type="checkbox"]) {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0 !important;
    text-align: center;
    width: 100%;
}

.form-weights input.text-view {
    border-bottom: 1px transparent;
}

.form-weights input:not([type="checkbox"]).text-view:hover, .form-weights input.text-view:focus {
    border-bottom: 1px solid;
    margin-bottom: -1px !important;
    padding: 0;
}

.form-weights input:focus::placeholder {
    color: transparent;
}

.form-weights input[type="number"] {
    -moz-appearance: textfield;
}

.form-weights input[type="number"]::-webkit-outer-spin-button,
.form-weights input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-weights .form-signin .btn {
    margin: 0 0 1rem;
    padding: .375rem .75rem;
    width: auto;
}

.key-display {
    align-items: center;
    border: 1px solid;
    border-radius: 0.5rem;
    display: inline-flex;
    font-size: 0.75rem;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
}

#weightsCard h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 8px;
}

#weightsCard h5.class {
    padding-top: 0.5rem;
}

#weightsCard h5.collapsed {
    border-top: none;
}

#weightsCard h5.collapsed ~ span.collapse-underline {
    border-bottom: none;
}

#weightsCard .disabled {
    border-bottom: none !important;
    color: #999999 !important;
}

#weightsCard input {
    font-size: 0.9rem;
    margin-right: 1rem;
    padding: .1rem .1rem;
    text-align: center;
    width: 3rem;
}

#weightsCard input.text-view {
    border-bottom: 1px transparent;
    padding: .1rem .1rem;
}

#weightsCard input.text-view:hover, #weightsCard input.text-view:focus {
    border-bottom: 1px solid;
    margin-bottom: -1px;
    padding: .1rem .1rem;
}

#weightsCard input[type="number"] {
    -moz-appearance: textfield;
}

#weightsCard input[type="number"]::-webkit-outer-spin-button,
#weightsCard input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#weightsCard label h5 i::after {
    content: "\f107"; /*Arrow Icon Toggling*/
}

#weightsCard label.collapsed h5 i::after {
    content: "\f105"; /*Arrow Icon Toggling*/
}

#weightsCard .collapse.show, #weightsCard .collapsing {
    display: flex;
    flex-flow: row wrap;
}

#weightsCard .form-signin .btn {
    margin: 0 0 1rem;
    padding: .375rem .75rem;
    width: auto;
}

.ignored {
    opacity: 0.5;
    text-decoration: line-through;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0.2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 0.2rem 1.7rem 0.2rem 0.5rem;
    text-align: center;
    text-align-last: center;
}

select.classic {
    background-position: calc(100% - 0.6rem) 50%, calc(100% - 0.28rem) 50%, 100% 0;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1.2rem 100%;
}

select.classic:focus {
    background-position: calc(100% - 0.28rem) 50%, calc(100% - 0.6rem) 50%, 100% 0;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1.2rem 100%;
    border-color: grey;
    outline: 0;
}

select.round {
    background-position: calc(100% - 0.6rem) 55%, calc(100% - 0.28rem) 55%, 100% 50%;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1.2rem 1.2rem;
}

select.round:focus {
    background-position: calc(100% - 0.28rem) 50%, calc(100% - 0.6rem) 50%, 100% 50%;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1.2rem 1.2rem;
}


select.minimal {
    background-position: calc(100% - 0.6rem) 55%, calc(100% - 0.28rem) 55%, calc(100% - 1.2rem) 50%;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1px 65%;
}

select.minimal:focus {
    background-position: calc(100% - 0.28rem) 50%, calc(100% - 0.6rem) 50%, calc(100% - 1.2rem) 50%;
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem, 0.32rem 0.32rem, 1px 65%;
}

select:focus {
    outline-width: 4px;
}

.excluded select {
    outline: none;
}

.excludeToggle .fa-ban {
    visibility: hidden;
}

.excludeToggle label {
    font-family: "SansSerif", sans-serif;
    font-size: 0.4rem !important;
}

td:hover .excludeToggle .fa-ban {
    visibility: visible;
}

.addAssignment {
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    width: fit-content;
    z-index: 1;
}

.tableOptions {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 0.1rem 1rem;
    width: fit-content;
    z-index: 1;
}

.tableOptions select {
    margin: 0 1rem;
}
