#theme-background {
    --bg-aurora-base-1: #F5EEE0;
    --bg-aurora-base-2: #FCF8EE;
    --bg-aurora-base-3: #D8D0BA;
    --bg-aurora-glow-1: rgba(255, 153, 64, 0.34);
    --bg-aurora-glow-2: rgba(163, 122, 204, 0.26);
    --bg-aurora-ribbon-1: transparent;
    --bg-aurora-ribbon-2: rgba(255, 183, 102, 0.38);
    --bg-aurora-ribbon-3: rgba(108, 191, 67, 0.24);
    --bg-aurora-grid-color: rgba(92, 97, 102, 0.18);
    --bg-aurora-ribbon-opacity: 0.46;
    --bg-aurora-grid-opacity: 0.16;
}
