#snow-fall-bg {
    background-image: linear-gradient(to top, #030604 15%, #0B2F12 65%, #16803A 100%);
}

#snow-fall-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.14;
    background-repeat: repeat;
    background-size: 20px;
    border: 1px;
    background-image: url("/public/resources/common/icon.png");
}
