#snow-fall-bg {
    background-image: linear-gradient(to top, #282A36 20%, #6272A4 80%);
}

#snow-fall-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.2;
    background-repeat: repeat;
    background-size: 20px;
    border: 1px;
    background-image: url("/public/resources/common/icon.png");
}
