<style>
    #snow-fall-bg {
        z-index: -2;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #snow-fall {
        position: fixed;
        z-index: -1;
        top: 0;
    }

    #fps {
        font-family: monospace;
        font-size: 0.7rem;
        pointer-events: none;
    }
</style>
<style id="light_snowfall"
<% if (!JSON.parse(appearance).seasonalEffects || theme !== false) { %> media="not all"
        <% } %>
>
    #snow-fall-bg {
        background-image: linear-gradient(to top, #E5E5E5 20%, lightblue 80%);
    }
</style>

<div id="snow-fall-bg">
    <canvas id='snow-fall' <% if (!JSON.parse(appearance).seasonalEffects) { %>style="display: none"
            <% } %>
    ></canvas>
</div>
<% const lightsMonth = 11; /* 11 is December */ %>
<% if (page == "home" && JSON.parse(appearance).showFps) { %>
    <div style="z-index: 999; position: fixed; bottom: 60px; left: 0; pointer-events: none"
         class="fps-chart-container">
    </div>
    <span style="z-index: 999; position: fixed; bottom: 10px; left: 10px;" id="fps"></span>
<% } %> <% const winterStart = 10; %> <% const winterEnd = 2; %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"
        integrity="sha512-YKERjYviLQ2Pog20KZaG/TXt9OO0Xm5HE1m/OkAEBaKMcIbTH1AwHB4//r58kaUDh5b1BWwOZlnIeo0vOl1SEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const today = new Date();
    const winterStart = <%= winterStart %>; // 10 is November
    const winterEnd = <%= winterEnd %>; // 2 is March
    const timeMultiplier = Math.min((today.getMonth() - winterStart + 12) % 12, (winterEnd - today.getMonth() + 12) % 12) / ((winterEnd - winterStart + 24) % 12);
    const rotationScale = 1; // Must be 1
    const speedScale = 0.75 + 0.5 * timeMultiplier;
    const buffer = 10;
    const minSpeed = 0.75 + 0.5 * timeMultiplier;
    const sizeScale = 0.5 + 0.75 * timeMultiplier;

    let numFlakes;
    let snow = [];
    let canvas = document.getElementById("snow-fall"), $$ = canvas.getContext("2d");
    let screenWidth = canvas.width = window.innerWidth, screenHeight = canvas.height = window.innerHeight;
    let renderNextFrame = true;

    let dynamicDisplayInterval;

    let showingLights = <%= new Date().getMonth() === lightsMonth; %>;
    let init;

    function disableSnow() {
        clearInterval(dynamicDisplayInterval);
        $("#snow-fall").hide();
        $(".lightrope").hide();
        $("#light_snowfall").attr("media", "not all");
    }

    function Snowy(start = false) {
        let snowEnabled = false;
        let lowPerformance = false;
        if (today.getMonth() >= winterStart || today.getMonth() < winterEnd) {
            snowEnabled = true;
            numFlakes = screenWidth / 5 + screenWidth * timeMultiplier / 5;
            for (let i = 0; i < numFlakes; ++i) {
                let flake = new Flake();
                snow.push(initializeFlake(flake));
            }

            function initializeFlake(flake, initial = true) {
                if (initial) {
                    flake.yPos = 2 * Math.random() * (-screenHeight);
                } else {
                    flake.yPos = Math.random() * (-screenHeight);
                }
                flake.xPos = Math.random() * screenWidth;
                flake.rotation = Math.random() * (Math.PI * 2);
                flake.size = (100 / (10 + (Math.random() * 100))) * sizeScale;
                flake.speed = (Math.pow(flake.size * .8, 2) * .15) * speedScale;
                flake.speed = flake.speed < minSpeed ? minSpeed : flake.speed;
                return flake;
            }
        }

        if (start) {

            init = performance.now();
            let lastCalledTime;
            let fps = 0;
            let _10sTempFps = [];
            let _10sAverage = 0;
            let fpsScale;

            go();

            const LOW_PERFORMANCE = 20;

            <% if (page === "home" && JSON.parse(appearance).showFps) { %>
            setInterval(() => {
                if (renderNextFrame) {
                    let fpsDisplay = `THRESHOLD: ${(LOW_PERFORMANCE < 100 ? `&nbsp;` : ``) + (LOW_PERFORMANCE < 10 ? `&nbsp;` : ``) + Math.round(LOW_PERFORMANCE)}FPS<br>`;
                    fpsDisplay += `&nbsp;&nbsp;10S AVG: ${(_10sAverage < 100 ? `&nbsp;` : ``) + (_10sAverage < 10 ? `&nbsp;` : ``) + Math.round(_10sAverage)}FPS<br>`;
                    fpsDisplay += `&nbsp;&nbsp;INSTANT: ${(fps < 100 ? `&nbsp;` : ``) + (fps < 10 ? `&nbsp;` : ``) + Math.round(fps)}FPS`;
                    $("#fps").html(fpsDisplay);
                }
            }, 1);
            <% } %>

            setInterval(() => {
                if (_10sTempFps.length > 2) {
                    _10sAverage = _10sTempFps.reduce((a, b) => a + b.y, 0) / _10sTempFps.length;
                    _10sTempFps.sort((a, b) => a.x - b.x);
                    _10sTempFps = _10sTempFps.slice(_10sTempFps.findIndex(t => t.x >= performance.now() - 10000));
                }
            }, 1);

            dynamicDisplayInterval = setInterval(() => {
                if (performance.now() - init < 10000 || !renderNextFrame) {
                    return;
                } // Wait 10 seconds before making fps-based changes
                if (_10sAverage < LOW_PERFORMANCE && showingLights) {
                    $(".lightrope li").css("animation-play-state", "paused");
                    showingLights = false;
                    $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-danger font-weight-bold">${$.format.date(Date.now(), "MM/DD/YY hh:mm:ss a")} | Christmas Lights disabled to improve performance</small>`));
                    init = performance.now();
                } else if (_10sAverage < LOW_PERFORMANCE && !showingLights) {
                    $("#snow-fall").fadeOut("slow");
                    if (snowEnabled) {
                        $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-danger font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | Snow disabled to improve performance</small>`));
                    }
                    snowEnabled = false;
                } else if (!showingLights && (today.getMonth() >= winterStart || today.getMonth() < winterEnd)) {
                    $("#snow-fall").fadeIn("slow");
                    if (!snowEnabled) {
                        $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-success font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | Snow reenabled</small>`));
                    }
                    snowEnabled = true;
                }
                if (_10sAverage < LOW_PERFORMANCE) {
                    if (!lowPerformance) {
                        $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-danger font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | FPS Dropped below threshold</small>`));
                    }
                    lowPerformance = true;
                } else {
                    if (lowPerformance) {
                        $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-success font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | FPS above threshold</small>`));
                    }
                    lowPerformance = false;
                }
            }, 1000);

            function go(requestAnother = true) {
                if (renderNextFrame) {
                    if (!lastCalledTime) {
                        lastCalledTime = performance.now();
                        fps = 1;
                        _10sTempFps.push({x: performance.now(), y: fps});
                        fpsScale = 1;
                    } else {
                        let delta = (performance.now() - lastCalledTime) / 1000;
                        lastCalledTime = performance.now();
                        fps = 1 / delta;
                        _10sTempFps.push({x: performance.now(), y: fps});
                        fpsScale = fps / 60;
                    }
                    $$.clearRect(0, 0, screenWidth, screenHeight);
                    $$.fillStyle = "transparent";
                    $$.fillRect(0, 0, screenWidth, screenHeight);
                    $$.fill();
                    let flake;
                    for (let i = 0; i < snow.length; i++) {
                        flake = snow[i];
                        flake.rotation += .05 / fpsScale;
                        flake.rotation = flake.rotation >= Math.PI * 2 ? 0 : flake.rotation;
                        flake.yPos += flake.speed / fpsScale;
                        flake.xPos += Math.random() * Math.sin(flake.rotation * rotationScale) * (flake.size * .3) / fpsScale;
                        if (flake.yPos > screenHeight + 50) {
                            flake = initializeFlake(flake, false);
                        }
                        if (flake.xPos > screenWidth + buffer) {
                            flake.xPos = -buffer;
                        }
                        if (flake.xPos < -buffer) {
                            flake.xPos = screenWidth + buffer;
                        }
                        flake.draw();
                    }
                    window.requestAnimationFrame(go);
                } else if (requestAnother) {
                    window.requestAnimationFrame(go);
                }
            }

            <% if (!JSON.parse(appearance).animateWhenUnfocused) { %>
            window.addEventListener("blur", stop);
            window.addEventListener("focus", play);
            <% } %>

            function stop() {
                if (today.getMonth() >= winterStart || today.getMonth() < winterEnd) {
                    $("#snow-fall").hide();
                    $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-info font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | Snow disabled by window unfocus</small>`));
                }
                renderNextFrame = false;
            }

            function play() {
                init = performance.now();
                renderNextFrame = true;
                _10sTempFps = [];
                lastCalledTime = undefined;
                if (today.getMonth() >= winterStart || today.getMonth() < winterEnd) {
                    $("#snow-fall").show();
                    $("#performance-issues-messages").prepend($(`<small class="performance-issue alert-info font-weight-bold">${$.format.date(Date.now(), "MM/dd/yy hh:mm:ss a")} | Snow reenabled by window focus</small>`));
                }
            }
        }

        function Flake() {
            this.draw = function () {
                this.gradient = $$.createRadialGradient(this.xPos, this.yPos, 0, this.xPos, this.yPos, this.size);
                this.gradient.addColorStop(0, "rgba(255,255,255,1)");
                this.gradient.addColorStop(1, "rgba(255,255,255,0)");
                $$.moveTo(this.xPos, this.yPos);
                $$.fillStyle = this.gradient;
                $$.beginPath();
                $$.arc(this.xPos, this.yPos, this.size, 0, Math.PI * 2, true);
                $$.fill();
            };
        }
    }

    let _resizeTimer;
    window.addEventListener("resize", function () {
        clearTimeout(_resizeTimer);
        _resizeTimer = setTimeout(() => {
            canvas.width = screenWidth = window.innerWidth;
            canvas.height = screenHeight = window.innerHeight;
            snow.forEach((flake, index) => delete snow[index]);
            snow = [];
            Snowy();
            <% if (new Date().getMonth() === lightsMonth) { %>
            setupLights();
            <% } %>
        }, 400);
    }, false);

</script>

<% if (new Date().getMonth() === lightsMonth) { %>
    <% include christmas_lights.ejs %>
<% } %>
