<!-- Admin Nav Bar -->
<nav class="navbar <% if (theme) { %>navbar-dark<% } else { %>navbar-light<% } %> navbar-expand-lg justify-content-center">
    <span class="d-flex w-50 mr-auto">
        <a href="/" class="navbar-brand">
            <h1>
                <img
                <% if (theme) { %>
                    src="/public/resources/dark_mode/logo.png"
                <% } else { %>
                    src="/public/resources/light_mode/logo.png"
                        <% } %>
                    style="width: 3rem"
                    class="d-inline-block"
                    alt="">
                Graderoom
            </h1>
        </a>
    </span>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsingNav"
            aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNav">
        <% if (username.length > 0) { %>
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <h5 class=""><%= username %></h5>
                </li>
            </ul>
        <% } %>
        <ul class="navbar-nav w-100 justify-content-left">
            <% if (page != 'classes') { %>
                <li id="classes" class="nav-item">
                    <a class="btn btn-md" href="/classes"> <i class="fa fa-address-book" aria-hidden="true"></i> Classes</a>
                </li>
            <% } %>
            <% if (page != 'keys') { %>
                <li id="betakeys" class="nav-item">
                    <a class="btn btn-md" href="/betakeys"> <i class="fa fa-key" aria-hidden="true"></i> Beta Key Panel
                    </a>
                </li>
            <% } %>
            <% if (page != 'admin') { %>
                <li id="admin" class="nav-item">
                    <a class="btn btn-med" href="/admin"> <i class="fa fa-fighter-jet" aria-hidden="true"></i> Admin
                    </a>
                </li>
            <% } %>
            <% if (page != 'charts') { %>
                    <li id="admin" class="nav-item">
                        <a class="btn btn-med" href="/charts"> <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Charts
                        </a>
                    </li>
            <% } %>
            <li id="toggleAdmin" class="nav-item toggle-admin">
                <a class="btn btn-med" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
            </li>
            <li class="nav-item active">
                <a href="/logout" class="btn btn-med"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
            </li>
        </ul>
    </div>
</nav>

<% include ../user/logged_out.ejs %>

<!-- JavaScript Imports -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<% include ../limited_time/snowfall.ejs %>

<!-- Custom JavaScript -->
<script>
    // Collapse navbar when click outside
    $(document).click(function (e) {
        try {
            $(".navbar-collapse").collapse("hide");
        } catch (e) {
        }
    });
    // Collapse navbar when press escape
    $(document).keyup(function (e) {
        if (e.key === "Escape") { // escape key maps to keycode `27`
            try {
                $(".navbar-collapse").collapse("hide");
                $("#toggle").hide();
            } catch (e) {
            }
        }
    });

    Snowy(true);
</script>
